{% extends "main/dashboard.html" %}
{% load i18n crispy_forms_tags staticfiles %}
{% load l10n %}


{% block style %}
<link href="{% static 'bootstrap-chosen-master/bootstrap-chosen.css' %}" rel="stylesheet">
<style media="screen">
    .hola{
        margin-bottom: 100px;
    }
    #div_id_vacuna .chosen-container-multi .chosen-choices{
        border: 1px solid #e6aab4 !important;
    }
    .page-clivet{
        display: none;
    }
    .detail-cabecera{
        padding: 15px 15px 0;
    }

    .detail-title{
        color: #00796B;
        font-weight: 900;
    }

    .detail-form-title, .detail-label-title{
        color: #212121;
        font-size: 1.3em;
        padding-top: 5px !important;
        text-align: center;
    }
    .detail-form-title{
        border: 1px solid #B2DFDB;
        border-radius: 3px;
    }
    .detail-form, .detail-label{
        color: #212121;
        font-size: 1em;
        padding-top: 5px !important;
        margin-bottom: 15px;
        text-align: left;
    }
    .detail-label{
        font-size: 1.2em;
    }
    .detail-form{
        padding-left: 15px;
        border: 1px solid #B2DFDB;
        border-radius: 3px;
    }
    .detail-subtitle{
        border-bottom: 1px solid #B2DFDB;
        font-size: 1.7em;
        color: #212121;
        font-weight: 700;
        margin-top: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .panel-cabecera{
        background: #009688;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    #accordion{
        border: 1px solid #009688;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .pa-consulta>.panel-heading{
        background-image: -webkit-linear-gradient(top,#B2DFDB 0,#B2DFDB 100%);
        background-image: linear-gradient(to bottom,#B2DFDB 0,#B2DFDB 100%);
    }
    .chosen-container {
        width: 100% !important;
    }


	.controls .btn+.btn {
	    margin-bottom: 0;
	    margin-left: 5px;
	}

	.box-header {
	    color: #444;
	}

	.box-header .box-title{
	    display: inline-block;
	    margin: 0;
	    line-height: 1;
	}
	.a-title{
		padding: 1em 15px .5em;
		font-size: 1.1em;
	}
	.box-num{
		background-color: #f0ad4e;
		padding: .5em 0;
		color: #fff;
		font-size: 1.4em;
	}

	.pa-consulta .panel-title a:before{
		content: "\e137";
		padding: 10px;
		background-color: #00796b;
		margin-right: 10px;
		color: #fff;
		font-family: 'Glyphicons Halflings';
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

    .buscar-consulta .active, .buscar-consulta .active:hover{
        text-shadow: none;
        color: #757575;
        background-image:linear-gradient(to bottom,#94dad4 0,#d3f1ee 100%);
       border-color: #69d0c7;
        font-weight: 900;
    }
    .chosen-container-multi .chosen-choices {
        border: 1px solid #69d0c7;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .chosen-choices {
        color: #212121;
    }
	.pa-vacuna .panel-title a:before{
		content: "\e041";
		padding: 10px;
		background-color: #00796b;
		margin-right: 10px;
		color: #fff;
		font-family: 'Glyphicons Halflings';
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.pa-notas .panel-title a:before{
		content: "\e032";
		padding: 10px;
		background-color: #00796b;
		margin-right: 10px;
		color: #fff;
		font-family: 'Glyphicons Halflings';
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	h4.panel-title a{
		text-decoration: none;
	}
	h4.panel-title{
		line-height: 30px;
		font-weight: bold;
	}
	.pa-consulta > .panel-heading, .pa-vacuna > .panel-heading, .pa-notas > .panel-heading{
		padding: 10px 15px 10px 0;
		height: 50px;
	}
	.panel-heading .panel-title a:after {
	    /* symbol for "opening" panels */
	    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
	    content: "\2212";    /* adjust as needed, taken from bootstrap.css */
		border-radius: 50%;
		width: 30px;
		height: 30px;
		text-align: center;
		float: right;
	    color: #fff;
		border: solid 2px #fff;
		padding-right: 3px;
	}
	.panel-heading .panel-title  .collapsed:after {
	    /* symbol for "collapsed" panels */
	    content: "\002b";
		border-radius: 50%;
		text-align: center;
		width: 30px;
		height: 30px;
		float: right;
		color: #fff;
		border: solid 2px #fff;
		padding-right: 0;
	}

	.listado >.input-group{
		margin-bottom: .5em;

	}
	.listado .input-group span{
		color: #757575;
		background-color: #b0e5e0;
		border-color: #69d0c7;
		font-weight: 900;
	}
	.listado .input-group input, .listado .input-group textarea{
		background-color: rgba(217, 237, 247, 0.10);
		color: #212121;
		border-color: #69d0c7;
		font-size: 1em;
	}

	#vacunacionform .listado .input-group span{
		color: #b54442;
		background-color: #ecd0d0;
		border-color: #e6aab4;
		font-weight: 900;
	}
	#vacunacionform .listado .input-group input{
		background-color: rgba(236, 208, 208, 0.39);
		color: #08121b;
		border-color: #e6aab4;
		font-size: 1em;
	}
	#notasform .listado .input-group span{
		color: #3c763d;
		background-color: #daedd2;
		border-color: #d6e9c6;
		font-weight: 900;
	}
	#notasform .listado .input-group input{
		background-color: rgba(218, 237, 210, 0.39);
		color: #08121b;
		border-color: #d6e9c6;
		font-size: 1em;
	}

	 .vacuna .active, .vacuna .active:hover{
		 text-shadow: none;
		 color: #b54442;
		 background-image: linear-gradient(to bottom,#e6aab4 0,#ecd0d0 100%);
 		border-color: #e6aab4;
		 font-weight: 900;
	 }

	 .vacuna #vacunas{
		 cursor: pointer;
		 height: 70px;
		 background-color: #fff;
		 border-color: #fff;
		 border: none;
		box-shadow: none;
	 }
     .estado-oculto{
         display: none;
     }
</style>
{% endblock style %}

{% block headjs %}
<script src="{% static 'bootstrap-chosen-master/chosen.jquery.js' %}"></script>
<script>
  $(function() {
	$('.chosen-select').chosen();
	$('.chosen-select-deselect').chosen({ allow_single_deselect: true });
  });
</script>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'clivet:clivet' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
  <li><a href="/clinica/colamedica/listar/">{% trans 'Cola' %} {% trans 'Medica' %}</a></li>
  <li class="active">{{ opts.verbose_name_plural|capfirst }}</li>
</ol>
{% endblock breadcrumbs %}

{% block content_title %}
{% endblock content_title %}

{% block content %}

{% crispy form %}

{% endblock %}

{% block extrajs %}
{{ block.super }}

<script type="text/javascript">

$("#id_estado").attr('checked', true);
$('#id_fecha_programada').datetimepicker({
	format: 'YYYY-MM-DD',
		//format: 'YYYY-MM-DD hh:mm:ss', //pata datatimes
		language: '{{ LANGUAGE_CODE }}',
		pickTime: false,
		//showMeridian: true,
		autoclose: true,
		todayHighlight: true,
	});

    $(document).ready(function(){
        if(this){
            $("#id_pruebas_auxiliares_chosen .default, #id_tratamiento_chosen .default").focus(function(){
                $(".hola-hola").addClass('hola');
            });
        }else {
            $(".hola-hola").removeAttr('hola');
        }
    });
$('#id_hallasgos_clinicos_chosen').on('focus', function() {
    alert("hola")
    if($(this)){
        alert("dsds");
        $(".chocen-container").addClass('hola');
    }else {
        alert("sssssssssssssssssssssss");
    }
});

</script>
{% endblock extrajs %}
