{% extends "main/dashboard.html" %}
{% load i18n crispy_forms_tags %}
{% load l10n %}

{% block breadcrumbs %}
<a href="{% url 'accounts:index' %}">Home</a>
&rsaquo;
<a href="{% url 'clinica:listar_historia' %}">{{opts.verbose_name_plural|capfirst}}</a>
&rsaquo; {{ title }}
{% endblock breadcrumbs %}

{% block content_title %}
{{ opts.verbose_name|capfirst }} | <small>{{ title }}</small>
{% endblock content_title %}

{% block content %}

    <form class="" action="" method="post">
          {% csrf_token %}
        {{ form }}
      <button type="submit" class="btn btn-primary text-bold">
          <i class="btn-icon-onlyx fa fa-save"></i>
          <span> Grabar</span>
      </button>
      <a href="{% url 'clinica:listar_historia' %}" class="btn btn-danger btn-back text-bol">
          <i class="btn-icon-onlyx fa fa-ban"></i>
          <span class="hidden-xs"> Cancel</span>
      </a>
  </form>
{% endblock %}
