<table class="table table-hover">
    <tbody>
       {% for d in atencion %}
      <tr>
          <th scope="row">Dueño:</th>
          <td>{{d.colamedica.historia.mascota.dueño}}</td>
      </tr>
      <tr>
          <th scope="row">Fecha:</th>
          <td>{{d.colamedica.historia.mascota.fecha_nacimiento}}</td>
      </tr>
      <tr>
          <th scope="row">Raza:</th>
          <td>{{d.colamedica.historia.mascota.raza}}</td>
      </tr>
      <tr>
          <th scope="row">Especie:</th>
          <td>{{d.colamedica.historia.mascota.especie}}</td>
      </tr>
      <tr>
          <th scope="row">Genero:</th>
          <td>{{d.colamedica.historia.mascota.genero}}</td>
      </tr>
      <tr>
          <th scope="row">Esterelizado:</th>
          <td>{{d.colamedica.historia.mascota.esterelizado}}</td>
      </tr>
      <tr>
          <th scope="row">Peso:</th>
          <td>{{d.colamedica.historia.mascota.peso}}</td>
      </tr>
      <tr>
          <th scope="row">Color:</th>
          <td>{{d.colamedica.historia.mascota.color}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
