<table class="table table-hover">
    <tbody>
      <tr>
          <th scope="row">Dueño:</th>
          <td>{{dueño}}</td>
      </tr>
      <tr>
          <th scope="row">Fecha:</th>
          <td>{{fecha}}</td>
      </tr>
      <tr>
          <th scope="row">Raza:</th>
          <td>{{raza}}</td>
      </tr>
      <tr>
          <th scope="row">Especie:</th>
          <td>{{especie}}</td>
      </tr>
      <tr>
          <th scope="row">Genero:</th>
          <td>{{genero}}</td>
      </tr>
      <tr>
          <th scope="row">Esterelizado:</th>
          <td>{{esterelizado}}</td>
      </tr>
      <tr>
          <th scope="row">Peso:</th>
          <td>{{peso}}</td>
      </tr>
      <tr>
          <th scope="row">Color:</th>
          <td>{{color}}</td>
      </tr>
    </tbody>
</table>
