/**
 *   Here's where everything gets included. You don't need
 *   to change anything here, and doing so might break
 *   stuff. Here be dragons and all that.
 */
@import "variables";
@import "unslider/reset";
@import "unslider/dots";

.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: none;
  width: 6px;
  height: 6px;
  background: transparent;
  padding: 5px;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #f3f3f3;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}
