<hr>
<nav class="navbar" role="navigation">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar">
        </div>
    </form>
    <div class="btn-group">
        <button type="button" class="btn btn-default"><i class="fa fa-home"></i> Nueva Atención </button>
        <button type="button" class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#natencion" data-toggle="modal" data-target="#myModal"><i class="fa fa-home"></i> Nueva Atencion</a></li>
            <li><a href="#avacuna" data-toggle="modal" data-target="#"><i class="fa fa-home"></i> Aplicar Vacuna</a></li>
            <li><a href="#adisparasitar" data-toggle="modal" data-target="#"><i class="fa fa-home"></i> Aplicar disparasitario</a></li>
            <li><a href="#apulga" data-toggle="modal" data-target="#"><i class="fa fa-home"></i> Aplicar Antipulga</a></li>
            <li><a href="#internamiento" data-toggle="modal" data-target="#"><i class="fa fa-home"></i> Internamiento</a></li>
        </ul>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            {% include "clivet/clinica/atencion.html" %}
        </div>
    </div>
    <button type="button" class="btn btn-default navbar-btn" name="button"><i class="fa fa-home"> Notas</i></button>
    <button type="button" class="btn btn-default navbar-btn" name="button"><i class="fa fa-home"> Adjuntar archivo</i></button>
    <button type="button" class="btn btn-default navbar-btn" name="button"><i class="fa fa-home"> Agenda Medica</i></button>
    <button type="button" class="btn btn-default navbar-btn btn-warning" name="button"><i class="fa fa-home"> Terminar Atención</i></button>
</nav>
<hr>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="panel panel-default"  id="global">
            <div class="panel-body">
                <p class="">16 de septiembre 2016</p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                Adjuntar Archivo
                            </div>
                            <div class="col-xs-6">
                                <i class="fa fa-home"></i>
                                <span>10:30:43 am</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><i class="fa fa-home"></i> Facturar</a></li>
                                        <li><a href="#"><i class="fa fa-home"></i> Editar</a></li>
                                        <li  class="divider"></li>
                                        <li><a href="#"><i class="fa fa-home"></i> Eliminar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="/bootstrap/images/kittens.jpg" alt="Generic placeholder thumbnail">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="/bootstrap/images/kittens.jpg" alt="Generic placeholder thumbnail">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p class="">20 de septiembre 2016</p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                Consulta Medica
                            </div>
                            <div class="col-xs-6">
                                <i class="fa fa-home"></i>
                                <span>10:30:43 am</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><i class="fa fa-home"></i> Facturar</a></li>
                                        <li><a href="#"><i class="fa fa-home"></i> Editar</a></li>
                                        <li  class="divider"></li>
                                        <li><a href="#"><i class="fa fa-home"></i> Eliminar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            <label>Amnesia y/o Descripción</label>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                        </p>
                        <p>
                            <label>Examen Clinico</label>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
                        </p>
                        <p>
                            <label>Diagnostico</label>
                            <li><span>T°: </span>259 <span> FCT: </span> 1221</li>
                        </p>
                        <p>
                            <label>Tratamientos</label>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                            <li>Lorem ipsum dolor sit amet,</li>
                        </p>
                        <p>
                            <img src="/media/clivet/logo.png" class="img-responsive" alt="Imagen de la consulta" />
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p class="">20 de agosto 2016</p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                Nota
                            </div>
                            <div class="col-xs-6">
                                <i class="fa fa-home"></i>
                                <span>10:30:43 am</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><i class="fa fa-home"></i> Facturar</a></li>
                                        <li><a href="#"><i class="fa fa-home"></i> Editar</a></li>
                                        <li  class="divider"></li>
                                        <li><a href="#"><i class="fa fa-home"></i> Eliminar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            <li>ajskasjkasasjajsjasjkasjkasjjkasjkasjkasjkasjksajjasjsa</li>
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p class="">02 de octubre 2016</p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                Vacunas
                            </div>
                            <div class="col-xs-6">
                                <i class="fa fa-home"></i>
                                <span>10:30:43 am</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><i class="fa fa-home"></i> Facturar</a></li>
                                        <li><a href="#"><i class="fa fa-home"></i> Editar</a></li>
                                        <li  class="divider"></li>
                                        <li><a href="#"><i class="fa fa-home"></i> Eliminar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            <ul>
                                <li>
                                    <label>Vacuna 1</label><br/> asjjasjajjajksajjkakjsaas
                                </li>
                                <li>
                                    <label>Vacuna 1</label><br/> asjjasjajjajksajjkakjsaas
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <h4><i class="fa fa-home"></i> Proximos Eventos</h4>
        <div class="panel panel-default">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td><i class="fa fa-home"></i> 07/06</td>
                        <td>Cita</td>
                        <td><i class="fa fa-save"></i><i class="fa fa-edit"></i><i class="fa fa-remove"></i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-home"></i> 07/06</td>
                        <td>Control</td>
                        <td><i class="fa fa-save"></i><i class="fa fa-edit"></i><i class="fa fa-remove"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
