<!-- Modal -->
<div class="modal-dialog"  style="width:80%; margin: 10% 18%;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
            <h4 class="modal-title" id="myModalLabel">Nueva Atencion Clinica de Roky</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-3">Anamnesis y Descripcion:</label>
                    <div class="col-xs-9">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Hallasgos Clinicos:</label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Diagnostico:</label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" placeholder="Confirmar Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Dx:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Pronostico:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="Apellido">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3" >Pruebas Auxiliares:</label>
                    <div class="col-xs-9">
                        <input type="tel" class="form-control" placeholder="Telefono">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">F. Nacimiento:</label>
                    <div class="col-xs-3">
                        <select class="form-control">
                            <option>Dia</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <select class="form-control">
                            <option>Mes</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <select class="form-control">
                            <option>Año</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">Observaciones:</label>
                    <div class="col-xs-9">
                        <textarea rows="3" class="form-control" placeholder="Dirección"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close </button>
            <button type="button" class="btn btn-primary">Submit changes</button>
        </div>
    </div><!-- /.modal--content -->
</div><!-- /.modal -->
