{% extends "main/dashboard.html" %}
<!--
@package     ventas
Descripcion: Lista Tipo Documento
-->
{% load i18n staticfiles %} {% load i18n app_security %} {% load l10n humanize %} {% block breadcrumbs %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.min.css' %}">
<a href="{# url 'accounts:index' #}">
    {% trans 'Home' %}</a> &rsaquo; {{ title }} {% endblock breadcrumbs %} {% block content_title %} {{ opts.verbose_name_plural|capfirst }} | <small>{{ title }}</small> {% endblock content_title %} {% block content %}
<div id="container">
    <div class="btn-toolbar btn-toolbar-top">
        <div class="row">
            <div class="btn-actions">
                <a href="{% url 'ventas:ventaslist' %}" class=" btn btn-primary text-bold" title="Agregar Departamento">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-xs"> Realizar Venta</span>
                </a>
            </div>
            <select>
                <option>Elige un autor</option>
                {% for venta in ventas %}
                <option value="{{venta.id}} " style="color: black">{{venta.fechav}}</option>
                {% endfor %}
            </select>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
        <button class="btn btn-default btn-info" type="button"><span  class="glyphicon glyphicon-list"></span></button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group input-append date">
                    <input type="text" class="form-control datepicker " value="{{ven.fechav|date:'Y,m,d'}}" data-date-format="yyyy,mm,dd">
                    <span class="input-group-btn">
        <button class="btn btn-info btn" type="button"><span class="add-on glyphicon glyphicon-calendar"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-overflow">
        <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="">#</th>
                    <th class="col-hidden" data-search="fechav" data-order="fechav">Fecha de Venta</th>
                    <th class="btn-actions col-blocked text-center">Cliente</th>
                    <th class="btn-actions col-blocked text-center">Igv</th>
                    <th class="btn-actions col-blocked text-center">Total</th>
                    <th class="btn-actions col-blocked text-center">Detalle</th>
                </tr>
            </thead>
            <tbody class="datos">
            </tbody>
        </table>
    </div>
    <div class="container-overflow">
        <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="">#</th>
                    <th class="col-hidden" data-search="fechav" data-order="fechav">Fecha de Venta</th>
                    <th class="btn-actions col-blocked text-center">Cliente</th>
                    <th class="btn-actions col-blocked text-center">Igv</th>
                    <th class="btn-actions col-blocked text-center">Total</th>
                    <th class="btn-actions col-blocked text-center">Detalle</th>
                </tr>
            </thead>
            <tbody>
                {% for d in object_list %}
                <tr>
                    <td class="text-center">{% if is_paginated %} {{ page_obj.start_index|add:forloop.counter0 }} {% else %} {{ forloop.counter }} {% endif %}
                    </td>
                    <td class="text-center">{{ d.fechav }}</td>
                    <td class="text-center">{{ d.cliente }}</td>
                    <td class="text-center">{{ d.igv }}</td>
                    <td class="text-center">{{ d.total}}</td>
                    <td class="text-center">
                        <a href="{% url 'ventas:detalle_go' d.pk %}" class="btn btn-info btn-sm text-bold" title="Ver detalle de la Venta" rel="tooltip">
                            <i class="btn-icon-only fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        {% if is_paginated %} {% load paginator %} {% paginator %} {% else %}
        <div class="col-md-12">
            <ul class="breadcrumbpag">
                {{ object_list.count }} {% ifequal object_list.count 1 %}{{ opts.verbose_name|capfirst }}{% else %}{{ opts.verbose_name_plural|capfirst }}{% endifequal %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
<script>
$(document).ready(function() {
    $('.input-append.date').datepicker({
        todayBtn: "linked",
        language: 'es',
        format: 'yyyy-mm-dd',
        autoclose: true,
    });
    $('select').on('change', Elegir);
    $('.datepicker').on('change', Fecha);

    function Fecha() {
        var fechav = $(this).val();
        console.log(fechav);
        $.ajax({
            data: {
                'fechav': fechav
            },
            url: '/date/filter/',
            type: 'get',
            success: function(data) {
                var object = JSON.parse(data);
                var list = "";
                for (var i in object) {
                    list = list + "<tr>" +
                        "<td class='text-center'>" + i +
                        "</td><td class='text-center'>" + object[i].fecha +
                        "</td><td class='text-center'>" + object[i].cliente +
                        "</td><td class='text-center'>" + object[i].igv +
                        "</td><td class='text-center'>" + object[i].total +
                        "</td><td class='text-center'><a href='/reporte/venta/" +object[i].id+ "/' class='btn btn-info btn-sm text-bold' title='Ver detalle de la Venta'><i class='btn-icon-only fa fa-edit'></i></a></td></tr>";

                    $('.datos').html(list);
                    console.log(i);
                }
                console.log(object);
            }

        });
    }

    function Elegir() {

        var id = $(this).val();
        console.log(id);
        $.ajax({
            data: {
                'id': id
            },
            url: '/ajax/',
            type: 'get',
            success: function(data) {
                var object = JSON.parse(data);
                console.log(object);
                var html = "<p>" + object.id + "<p><p>" + object.fecha + "<p>";
                $('.datos').html(html);
                console.log($('.input-append.date').datepicker('getDate'));
            }

        });
    }

});
</script>
<script type="text/javascript" src="{% static 'bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js' %}"></script>
{% endblock content %} {% block extrajs %} {% endblock extrajs %}
