<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav side-nefta">
        <li class="active">
            <a href="/clivet/clivet"><i class="fa fa-fw fa-dashboard"></i> Escritorio</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#recepcion"><i class="fa fa-fw fa-arrows-v"></i> Recepción <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="recepcion" class="collapse">
                <li>
                    <a href="/ventas/"><i class="fa fa-fw fa-table"></i> Ventas</a>
                </li>
                <li>
                    <a href="{% url 'clinica:crear_medica' %}"><i class="fa fa-fw fa-table"></i> Atencion</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#clinica"><i class="fa fa-fw fa-arrows-v"></i> Clinica <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="clinica" class="collapse">
                <li>
                    <a href="{% url 'clinica:listar_medica' %}"><i class="fa fa-fw fa-table"></i> Cola Medica</a>
                </li>
                <li>
                    <a href="{% url 'clinica:listar_mascotas' %}"><i class="fa fa-fw fa-table"></i> Pacientes</a>
                </li>
                <li>
                    <a href="{% url 'clinica:listar_historia' %}"><i class="fa fa-fw fa-table"></i> Historias clinicas</a>
                </li>
            </ul>
        </li>
        <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#compras"><i class="fa fa-fw fa-arrows-v"></i> Compras <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="compras" class="collapse">
                    <li>
                        <a href="{% url 'compras:compra_add' %}"><i class="fa fa-fw fa-table"></i>Realizar Compra</a>
                    </li>
                    <li>
                        <a href="{% url 'ventas:producto_list' %}"><i class="fa fa-fw fa-table"></i>Inventario</a>
                    </li>
                    <li>
                        <a href="{% url 'compras:compra_list' %}"><i class="fa fa-fw fa-table"></i>Reporte</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'clivet:cliente_list' %}"><i class="fa fa-fw fa-users"></i> Clientes</a>
            </li>
            <li>
                <a href="{% url 'clivet:trabajador_list' %}"><i class="fa fa-fw fa-users"></i> Trabajadores</a>
            </li>
            <li>
                <a href="{% url 'citas:cita_add' %}"><i class="fa fa-fw fa-calendar"></i>mod Citas</a>
                <a href="{% url 'citas:cita_list' %}"><i class="fa fa-fw fa-calendar"></i>ver Citas</a>
            </li>
            <li>
                <a href="{% url 'compras:proveedor_list' %}"><i class="fa fa-fw fa-file"></i> Proveedores</a>
            </li>
    </ul>
</div>
