<div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="acces-direct center" style="position:relative">
              <a href="#" style="float:left !important; width:auto;"><i class="fa fa-shopping-cart fa-basic" aria-hidden="true"></i></a>
              <a href="#" style="float:left !important; width:auto;"><i class="fa fa-users fa-basic" aria-hidden="true"></i></a>
              <a href="#" style="float:left !important; width:auto;"><i class="fa fa-stethoscope fa-basic" aria-hidden="true"></i></a>
              <a href="#" style="float:left !important; width:auto;"><i class="fa fa-briefcase fa-basic" aria-hidden="true"></i></a></li>
            <li class="active">
                <a href="/clivet/clivet"><i class="fa fa-fw fa-dashboard"></i> Escritorio</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i> Recepción</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#clinica"><i class="fa fa-fw fa-arrows-v"></i> Clinica <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="clinica" class="collapse">
                    <li>
                        <a href="{% url 'clinica:listar_medica' %}"><i class="fa fa-fw fa-table"></i> Cola Medica</a>
                    </li>
                    <li>
                        <a href="{% url 'clinica:listar_mascotas' %}"><i class="fa fa-fw fa-table"></i> Pacientes</a>
                    </li>
                    <li>
                        <a href="{% url 'clinica:listar_historia' %}"><i class="fa fa-fw fa-table"></i> Historias clinicas</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'clivet:cliente_list' %}"><i class="fa fa-fw fa-edit"></i> Clientes</a>
            </li>
            <li>
                <a href="{% url 'clivet:persona_list' %}"><i class="fa fa-fw fa-edit"></i> Persona</a>
            </li>
            <li>
                <a href="{% url 'compras:proveedor_list' %}"><i class="fa fa-fw fa-wrench"></i> Compras</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#servicios"><i class="fa fa-fw fa-arrows-v"></i> Servicios <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="servicios" class="collapse">
                    <li>
                        <a href="{% url 'clinica:crear_consulta' %}"><i class="fa fa-fw fa-wrench"></i> Consultas</a>
                    </li>
                    <li>
                        <a href="{% url 'clinica:listar_notas' %}"><i class="fa fa-fw fa-wrench"></i> Notas</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'compras:proveedor_list' %}"><i class="fa fa-fw fa-file"></i> Proveedores</a>
            </li>
            <li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#opcion"><i class="fa fa-fw fa-arrows-v"></i> Inventario <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="opcion" class="collapse">
                    <li>
                        <a href="{% url 'ventas:departamento_list' %}">Departamento</a>
                    </li>
                    <li>
                        <a href="{% url 'ventas:categoria_list' %}">Categoria</a>
                    </li>
                    <li>
                        <a href="{% url 'ventas:unidad_medida_list' %}">Unidad de Medida</a>
                    </li>
                    <li>
                        <a href="{% url 'ventas:producto_list' %}">Producto</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> Reportes</a>
            </li>
            <li>
                <a href="{% url 'clivet:trabajador_list' %}"><i class="fa fa-fw fa-dashboard"></i> Trabajadores</a>
            </li>
            <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> Configuración</a>
            </li>
        </ul>
</div>
