{% extends "main/dashboard.html" %} {% load i18n app_security %} {% load l10n humanize %} 
{% block content_title %}{% endblock content_title %}
{% block content %}
<style>
    #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }
        
    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }
        
    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
    }
        
    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }
        
    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }

    #calendar {
        float: right;
        width: 900px;
    }

</style>
<div class="container-overflow">
    <div id='external-events'>
        <h4>Eventos Frecuentes</h4>
        <div class='fc-event'>Vacuna</div>
        <div class='fc-event'>Evento 1</div>
        <div class='fc-event'>Evento 2</div>
        <div class='fc-event'>Evento 3</div>
        <div class='fc-event'>Evento 4</div>
        <p>
            <input type='checkbox' id='drop-remove' />
            <label for='drop-remove'>Eliminar despues de jalar.</label>
        </p>
    </div>
    <div id='calendar'></div>
</div>
<script>
$(document).ready(function() {
    var todayDate = moment().startOf('day');
    var YM = todayDate.format('YYYY-MM');
    var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
    var TODAY = todayDate.format('YYYY-MM-DD');
    var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');
    $('#external-events .fc-event').each(function() {

        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
            title: $.trim($(this).text()), // use the element's text as the event title
            stick: true // maintain when user navigates (see docs on the renderEvent method)
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
            zIndex: 999,
            revert: true, // will cause the event to go back to its
            revertDuration: 0 //  original position after the drag
        });

    });
    $('#calendar').fullCalendar({
        locale: 'es',
        header: {
            left: 'prev,next today',
            center: 'title',
            // right: 'month,basicWeek,basicDay,listWeek'
            right: 'agendaDay,agendaWeek listDay,listWeek,listMonth,listYear',
            // right: 'month,agendaWeek,agendaDay,listWeek,listDay,listMonth,listYear,list',
        },
        defaultView: 'agendaWeek',
        buttonText:
        {
            today: 'Hoy',
            month: 'Mes',
            week: 'Semana',
            day: 'Día',
            listDay: 'Lista por dia',
            listWeek: 'Lista por semana',
            listMonth: 'Lista por mes',
            listYear: 'Lista por año',
        },
        // header: {
        //     left: '',
        //     center: 'prev title next',
        //     right: ''
        // },
        //defaultDate: '2016-01-12',
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        selectable: true,
        //selectHelper: true,
        slotMinutes: 30,
        navLinks: true,
        allDaySlot: false,//para mostar en el calendario todo el dia
        scrollTime: '08:00:00',
        minTime: "08:00:00",
        maxTime: "18:00:00",
        weekends: false,//si incluye fin de semanas or //hiddenDays: [ 1, 3, 5 ]
        droppable: true, // this allows things to be dropped onto the calendar
        drop: function() {
            // is the "remove after drop" checkbox checked?
            if ($('#drop-remove').is(':checked')) {
                // if so, remove the element from the "Draggable Events" list
                $(this).remove();
            }
            console.table($('#calendar').fullCalendar('getEventSources'));
        },
        select: function(start, end) {
            var title = prompt('Event Title:');
            var events;
            if (title) {
                events = {
                    title: title,
                    start: start,
                    end: end
                };
                $('#calendar').fullCalendar('renderEvent', events, true); // stick? = true
            }
            $('#calendar').fullCalendar('unselect');
        },
        events: [
        {
            title: 'Conference',
            start: YESTERDAY,
            end: TOMORROW,
            color: 'yellow',
            textColor: 'red',
            backgroundColor: 'blue',
            borderColor: 'green',
            //editable:false,
            overlap: false, //If false, prevents this event from being dragged/resized over other events. ///EVITA la sobreposicion
        }, {
            title: 'All Day Event',
            start: YM + '-01',
            color: 'yellow',
            textColor: 'red',
        }, {
            title: 'Long Event',
            start: YM + '-07',
            end: YM + '-10'
        }, {
            id: 999,
            title: 'Repeating Event',
            start: YM + '-09T16:00:00'
        }, {
            id: 999,
            title: 'Repeating Event',
            start: YM + '-16T16:00:00',
            end: TODAY + 'T12:30:00'
        }, {
            title: 'Lunch',
            start: TODAY + 'T12:00:00'
        }, {
            title: 'Meeting',
            start: TODAY + 'T14:30:00'
        }, {
            title: 'Happy Hour',
            start: TODAY + 'T17:30:00'
        }, {
            title: 'Dinner',
            start: TODAY + 'T20:00:00'
        }, {
            title: 'Birthday Party',
            start: TOMORROW + 'T07:00:00'
        }, {
            title: 'Click for Google',
            url: 'http://google.com/',
            start: YM + '-28'
        }]

    });
});
</script>
{% endblock content %}
