{% extends "main/dashboard.html" %} {% load i18n app_security %} {% load l10n humanize %}  {% load crispy_forms_tags %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'clivet:clivet' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
  <li><a href="{% url 'citas:cita_list' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
  <li class="active">{{ title }}</li>
</ol>
{% endblock breadcrumbs %}

{% block content_title %}
<i class="fa fa-calendar"></i> {{ title }}
{% endblock content_title %}
{% block content %}
<style>
#external-events .fc-event {
    color: #fff;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
</style>
<div class="row">
    <div class="col-md-10">
        <div id='calendar'></div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">Eventos Frecuentes</div>
            <div class="panel-body" id='external-events'>Panel Content</div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %} {% crispy form %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cerrar modal">
                    <i class="btn-icon-onlyx fa fa-ban"></i> <span class="hidden-xsx"> Cerrar</span>
                </button>
                <button type="submit" name="submit" class="btn btn-primary text-bold" id="submit-id-submit" title="Grabar cita">
                    <i class="btn-icon-onlyx fa fa-save"></i> <span class="hidden-xsx"> Guardar</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalOptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Detalles de la Cita</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group" id="detailCita"></ul>
            </div>
            <div class="modal-footer" id="detail_controls">
                <button type="submit" class="btn btn-success btn-block" title="Editar cita" id="cita_edit"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                <a href="#" class="btn btn-danger btn-block js-confirm" msg-title="Eliminar Cliente?." msg="Esta Seguro
                       <br/>Recuerde esta operación no puede revertirse" title="Eliminar cita" rel="tooltip">
                    <i class="btn-icon-only fa fa-trash-o"></i>Eliminar
                </a>
            </div>
        </div>
    </div>
</div>
<div id="add-events-modal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar evento</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="new-form-event" name="new-form-event">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-9 form-group">
                            <label for="event-title" class="icon-user">Nombre
                                <span class="required">*</span>
                            </label>
                            <input name="event-title" type="text" class="form-control" id="event-title" placeholder="Ingrese un nombre" minlength="4" maxlength="100" required="true">
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label" for="event-color">Colores
                                <span class="required">*</span>
                            </label>
                            <input name="event-color" type="color" class="form-control" id="event-color" required="true">
                        </div>
                    </div>
                    <div class="alert alert-danger hide" role="alert" id="success_message_events" ></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" name="submit" class="btn btn-primary text-bold" id="submit-event" title="Guardar evento">
                    <i class="btn-icon-onlyx fa fa-save"></i> <span class="hidden-xsx"> Guardar</span>
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cerrar modal">
                    <i class="btn-icon-onlyx fa fa-ban"></i> <span class="hidden-xsx"> Cerrar</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    var todayDate = moment().startOf('day');
    var YM = todayDate.format('YYYY-MM');
    var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
    var TODAY = todayDate.format('YYYY-MM-DD');
    var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');
    $('#calendar').fullCalendar({
        //height: 650,
        locale: 'es',
        header: {
            left: 'prev,next today',
            center: 'title',
            // right: 'month,basicWeek,basicDay,listWeek'
            right: 'agendaDay,agendaWeek listDay,listWeek,listMonth,listYear',
            // right: 'month,agendaWeek,agendaDay,listWeek,listDay,listMonth,listYear,list',
        },
        defaultView: 'agendaWeek',
        buttonText: {
            today: 'Hoy',
            month: 'Mes',
            week: 'Semana',
            day: 'Día',
            listDay: 'Lista por dia',
            listWeek: 'Lista por semana',
            listMonth: 'Lista por mes',
            listYear: 'Lista por año',
        },
        eventClick: function(calEvent, jsEvent, view) {
            calEvent.estado = calEvent.sin_atender ? "Por Atender" : "Atendido";
            var h = '<li class="list-group-item" style="background:' + calEvent.color + '"><strong><span class="glyphicon glyphicon-tags"></span> Titulo: </strong>' + calEvent.title + '</li>' +
                '<li class="list-group-item"><strong><span class="glyphicon glyphicon-question-sign"></span> Descripcion: </strong>' + calEvent.descripcion + '</li>' +
                '<li class="list-group-item"><strong><span class="glyphicon glyphicon-calendar"></span> Fecha: </strong>' + calEvent.start._i + '</li>' +
                '<li class="list-group-item"><strong><span class="glyphicon glyphicon-check"></span> Estado: </strong>' + calEvent.estado + '</li>' +
                '<li class="list-group-item"><strong><span class="glyphicon glyphicon-user"></span> Veterinario: </strong>' + calEvent.veterinario_nombre + '</li>' +
                '<li class="list-group-item"><strong><span class="glyphicon glyphicon-user"></span> Cliente: </strong>' + calEvent.cliente_nombre + '</li>';
            $('#detailCita').html(h);
            $('#myModalOptions').modal('show');
        },
        // header: {
        //     left: '',
        //     center: 'prev title next',
        //     right: ''
        // },
        //defaultDate: '2016-01-12',
        eventLimit: true, // allow "more" link when too many events
        selectable: true,
        //selectHelper: true,
        resize: false,
        slotMinutes: 60,
        navLinks: true,
        allDaySlot: false, //para mostar en el calendario todo el dia
        scrollTime: '08:00:00',
        minTime: "08:00:00",
        maxTime: "18:00:00",
        slotEventOverlap: false, //para que no se pueda poner encima mas o la misma hora
        weekends: false, //si incluye fin de semanas or //hiddenDays: [ 1, 3, 5 ]
        droppable: true, // this allows things to be dropped onto the calendar
        drop: function(date, data) {
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#id_evento").val(data.target.getAttribute("data-event"));
            $('#id_date').val(moment(date).format("YYYY-MM-DD HH:mm:ss"));
        },
        select: function(start, end, date) {
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#id_evento").val("");
            $('#id_date').val(moment(start).format("YYYY-MM-DD HH:mm:ss"));
            // var title = prompt('Event Title:');
            // var events;
            // if (title) {
            //     events = {
            //         title: title,
            //         start: start,
            //         end: end
            //     };
            //     $('#calendar').fullCalendar('renderEvent', events, true); // stick? = true
            // }
            // $('#calendar').fullCalendar('unselect');
        },
        events: function(start, end, timezone, callback) {
            // $.ajax({
            //     url: '/cita/listar/',
            //     dataType: 'json',
            //     type: 'get',
            //     success: function(doc) {
            //         var events = [];
            //         for (var i in doc) {
            //             events.push({
            //                 title: doc[i].fields.descripcion,
            //                 start: doc[i].fields.date,
            //             });
            //         }
            //         callback(events);
            //     },
            //     failure: function(data) {
            //         console.error('Ocurrió un problema al cargar.');
            //     }
            // });
            $.ajax({
                    url: '/cita/listar/',
                    type: 'get',
                    dataType: 'json',
                    //data: {param1: 'value1'},
                })
                .done(function(dat) {
                    console.log("success", dat);
                    var events = [];
                    for (var i in dat) {
                        dat[i].editable = false;
                        events.push(dat[i]);
                    }
                    callback(events);
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });

        },
        // events: [
        // {
        //     title: 'Conference',
        //     start: YESTERDAY,
        //     end: TOMORROW,
        //     color: 'yellow',
        //     textColor: 'red',
        //     backgroundColor: 'blue',
        //     borderColor: 'green',
        //     //editable:false,
        //     overlap: false, //If false, prevents this event from being dragged/resized over other events. ///EVITA la sobreposicion
        // },]

    });
});
    listarEventos();
    function listarEventos() {
        $.ajax({
                url: '/cita/eventos/listar/',
                type: 'get',
                dataType: 'json',
                //data: {param1: 'value1'},
            })
            .done(function(dat) {
                console.log("success", dat);
                var html = "";
                for (var i in dat) {
                    html = html +
                        "<div data-event='" +
                        dat[i].pk + "'class='fc-event row' style='background-color:" +
                        dat[i].fields.color + "'><div class='col-md-2 ext-left'><span class='glyphicon glyphicon-move'></span></div><div class='col-md-10 text-center'>" + dat[i].fields.title + "</div></div>";
                }
                $("#external-events").html(html);
                $('#external-events .fc-event').each(function() {

                    // store data so the calendar knows to render an event upon drop
                    $(this).data('event', {
                        title: $.trim($(this).text()), // use the element's text as the event title
                        stick: true // maintain when user navigates (see docs on the renderEvent method)
                    });

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 999,
                        revert: true, // will cause the event to go back to its
                        revertDuration: 0 //  original position after the drag
                    });
                });
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
    }
//========================================================================
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
$('#addEvent').click(function(event) {
    $('#add-events-modal').modal('show');
});
$('#submit-event').click(function() {
    var formArray=$("#new-form-event").serializeArray();
    var formJson = JSON.stringify(formArray);
    if(formArray[1].value.length>4){
        $.ajax({
            url: '{% url "citas:evets_post" %}',
            type: 'POST',
            dataType: 'json',
            data: {
                t: formArray[1].value,
                c: formArray[2].value
            },
        })
        .done(function(d) {
            var select =$("#id_evento");
            select.append('<option value="'+d.pk+'">'+d.title+'</option>');
            select.val(d.pk);
            $('#add-events-modal').modal('hide');
            listarEventos();
        })
        .fail(function() {
            console.log("error");
        })
        .always(function() {
            console.log("complete");
        });
    }else{
        $('#success_message_events').attr('class', 'alert alert-danger').text("Ingrese un nombre.");
    }
    
});
</script>
{% endblock content %}
