{% extends "main/dashboard.html" %} {% load i18n app_security %} {% load l10n humanize %} 
{% block content_title %}{% endblock content_title %}
{% block content %}
<div class="container-overflow">
    <div id='calendar'></div>
</div>
<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        locale: 'es',
        header: {
            left: 'prev,next today',
            center: 'title',
            // right: 'month,basicWeek,basicDay,listWeek'
            right: 'agendaDay,agendaWeek,month listDay,listWeek,listMonth,listYear',
            // right: 'month,agendaWeek,agendaDay,listWeek,listDay,listMonth,listYear,list',
        },
        defaultView: 'agendaWeek',
        buttonText:
        {
            today: 'Hoy',
            month: 'Mes',
            week: 'Semana',
            day: 'Día',
            listDay: 'Lista por dia',
            listWeek: 'Lista por semana',
            listMonth: 'Lista por mes',
            listYear: 'Lista por año',
        },
        // header: {
        //     left: '',
        //     center: 'prev title next',
        //     right: ''
        // },
        //defaultDate: '2016-01-12',
        eventLimit: true, // allow "more" link when too many events
        navLinks: true,
        allDaySlot: false,//para mostar en el calendario todo el dia
        scrollTime: '08:00:00',
        minTime: "08:00:00",
        maxTime: "18:00:00",
        weekends: false,//si incluye fin de semanas or //hiddenDays: [ 1, 3, 5 ]
        events: function(start, end, timezone, callback) {
            $.ajax({
                url: '/cita/listar/',
                dataType: 'json',
                type:'get',
                success: function(doc) {
                    var events = [];
                   for (var i in doc) {
                       events.push({
                            title: doc[i].fields.descripcion,
                            start: doc[i].fields.date,
                        });
                   }
                    callback(events);
                },
                failure: function(data) {
                    console.error('Ocurrió un problema al cargar.');
                }
            });
        }
    });
});
// $.ajaxSetup({
//     beforeSend: function(xhr, settings) {
//         function getCookie(name) {
//             var cookieValue = null;
//             if (document.cookie && document.cookie != '') {
//                 var cookies = document.cookie.split(';');
//                 for (var i = 0; i < cookies.length; i++) {
//                     var cookie = jQuery.trim(cookies[i]);
//                     // Does this cookie string begin with the name we want?
//                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
//                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
//                         break;
//                     }
//                 }
//             }
//             return cookieValue;
//         }
//         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
//             // Only send the token to relative URLs i.e. locally.
//             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
//         }
//     }
// });

</script>
{% endblock content %}
