{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'bootstrap-3.1.1-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-3.1.1-dist/css/sb-admin.css' %}">
<link href="{% static 'font-awesome-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet">

{% endblock css %}

{% block js %}
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap-3.1.1-dist/js/bootstrap.min.js' %}"></script>
{% endblock js %}
