 .page-clivet{
	 margin-top: 8px;
	 padding-bottom: 0;
 }

.page-clivet .title{
	font-size: 20px;
}
.escritorio{
	padding: 10px;
	font-size: 40px;
	margin-left: 2em;
	color: #428bca;
	font-weight: bold;
}

.tipo-user{
	color: #fff !important;
	font-weight: bold;
	font-size: 1.2em;
	margin-left: 8em;
}
