{%  extends "base.html" %}
{% load i18n app_security %}
{% load l10n humanize %}

{% block title %}CLIVET{% endblock title %}
{% block contentroot %}

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
{% include "main/partials/header.html" %}
{% include "main/partials/aside.html" %}
</nav>
<div class="container">
  <div class="page-header">
    <h1>{% block content_title %}{% endblock content_title %}</h3>
  </div>
  {% block messages %}
  {% load notify %}
  {% get_notify request %}
  {% endblock messages %}

  {% block content %}{% endblock content %}
  {% block sidebar %}{% endblock sidebar %}

  
</div>
{% endblock contentroot %}
