{% extends "base.html" %} {% load i18n staticfiles user_menu %} {% block title %}{{ title }} | {{ site_title|default:_('Backend site admin') }} {% endblock title %} {% block extrastyle %}
<link href="{% static 'jasny-bootstrap/css/jasny-bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'custom/css/base.css' %}" rel="stylesheet">
<link href="{% static 'custom/css/style.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap-fileinput/css/fileinput.css' %}" rel="stylesheet">
<link href="{% static 'clivet/style.css' %}" rel="stylesheet">
<link href="{% static 'fullcalendar/fullcalendar.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'bootstrap-3.1.1-dist/css/sb-admin.css' %}">
<style media="screen">
    .clivet-title{
        color: #212121;
        font-size: 2em;
    }

    .btn-guardar{
        background-image: -webkit-linear-gradient(top,#047568 0,#019e8c 100%);
        background-image: linear-gradient(to bottom,#047568 0,#019e8c 100%);
        background-repeat: repeat-x;
        color: #fff;
        border-color: #02584e;
    }
    .btn-guardar:hover{
        color: #fff;
        background: #028474;
        border-color: #02584e;
    }
    .btn-cancelar{
        background-image: -webkit-linear-gradient(top,#940804 0,#bd0905 100%);
        background-image: linear-gradient(to bottom,#940804 0,#bd0905 100%);
        background-repeat: repeat-x;
        border-color: #5f0101;
        color: #fff;
    }
    .btn-cancelar:hover{
        border-color: #5f0101;
        color: #fff;
        background: #9e0b08;
    }
    .controls .btn+.btn {
        margin-bottom: 0;
        margin-left: 5px;
    }
</style>
{% block style %}
{% endblock style %}
{% endblock extrastyle %}

{% block contentroot %}
<!-- Navigation -->
<nav class="navbar navbar-nefta navbar-fixed-top" role="navigation">
    {% load_menu request 'BACKEND' %}
    {% include "main/partials/header.html" %}
    {% include "main/partials/aside.html" %}
</nav>
<div id="page-wrapper">
    <div class="container-fluid">
        {% block breadcrumbs %}
        <ol class="breadcrumb">
          <li class="active"><i class="fa fa-home"></i> {% trans 'Home' %}</li>
        </ol>
        {% endblock breadcrumbs %}
        <div class="page-header page-clivet"><h1 class="clivet-title">{% block content_title %}Escritorio{% endblock content_title %}</h1> </div>
        {% block messages %}
            {% load notify %}
            {% get_notify request %}
        {% endblock messages %}
        {% block content %}
        <div class="row">
            <div class="col-xs-4 col-md-2 col-md-offset-2">
                <a href="#" class="thumbnail text-center">
                    <i class="fa fa-bar-chart fa-4x"></i>
                    <div class="caption"><span>Recepcion</span></div>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="#" class="thumbnail text-center btn-info">
                    <i class="fa fa-stethoscope fa-4x"></i>
                    <div class="caption"><span>Cola Medica</span></div>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="{% url 'clinica:listar_mascotas' %}" class="thumbnail text-center btn-success">
                    <i class="fa fa-github-alt fa-4x"></i>
                    <div class="caption"><span>Mascotas</span></div>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="{% url 'ventas:departamento_list' %}" class="thumbnail text-center">
                    <i class="fa fa-flask fa-4x"></i>
                    <div class="caption"><span>Inventario</span></div>
                </a>
            </div>
            <div class="col-xs-4 col-md-2 col-md-offset-2">
                <a href="{% url 'compras:proveedor_list' %}" class="thumbnail text-center btn-info">
                    <i class="fa fa-car fa-4x"></i>
                    <div class="caption"><span>Proveedores</span></div>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="{% url 'clivet:cliente_list' %}" class="thumbnail text-center btn-danger">
                    <i class="fa fa-users fa-4x"></i>
                    <div class="caption"><span>Clientes</span></div>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="#" class="thumbnail text-center btn-warning">
                    <i class="fa fa-file-text fa-4x"></i>
                    <div class="caption"><span>Reportes</span></div>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="#" class="thumbnail text-center btn-success">
                    <i class="fa fa-calendar fa-4x"></i>
                    <div class="caption"><span>Agenda</span></div>
                </a>
            </div>
        </div>
        {% endblock content %} {% block sidebar %}{% endblock sidebar %}
    </div>
</div>
<!-- /#page-wrapper -->
{% endblock contentroot %}
<div id="loading-content" class="alpha60"></div>
<div id="spinner" class="preview corner-all shadow-dark"></div>
{% block extrajs %}
<!--
<script src="{% static 'jquery/jquery.spinx.js' %}"></script>
-->
<script src="{% static 'custom/js/jquery.kumbiaphp.js' %}"></script>
<script src="{% static 'jasny-bootstrap/js/jasny-bootstrap.js' %}"></script>
<script src="{% static 'custom/js/jquery.kgrid.js' %}"></script>
<!--
<script src="{% static 'custom/js/jquery.kloadx.js' %}"></script>
-->
<script src="{% static 'custom/js/backend.js' %}"></script>
<script src="{% static 'custom/js/validador.js' %}"></script>
<script src="{% static 'custom/js/jquery.keyfilter.js' %}"></script>
<script src="{% static 'bootstrap-fileinput/js/fileinput.js' %}"></script>
<script src="{% static 'fullcalendar/jquery-ui.min.js' %}"></script>
<script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'fullcalendar/es.js' %}"></script>
<script type="text/javascript">
    $('.btn-controls .controls').addClass('pull-right');
</script>
{% endblock extrajs %}
