{% extends "main/dashboard.html" %}
{% load i18n crispy_forms_tags staticfiles %}
{% load i18n app_security %}
{% load l10n humanize %}

{% block breadcrumbs %}
<a href="{% url 'clivet:clivet' %}"><i class="fa fa-home"></i> {% trans 'Home' %} &rsaquo;</a>
<a href="{% url 'clinica:listar_mascotas' %}">{% trans 'Mascota' %} &rsaquo;</a>
 {% trans 'Historia clinica' %}
{% endblock breadcrumbs %}

{% block content_title %}
<h3><i class="fa fa-paw"></i> {{ nombre }} &rsaquo;&rsaquo;  {{ raza }} Propietario: {{ dueño}}</h3>
{% endblock content_title %}

{% block content %}
{% crispy form %}

{% endblock content %}
{% block extrajs %}
{{ block.super }}

<script type="text/javascript">
$('#myModal').modal({
  keyboard: false
})
</script>
{% endblock extrajs %}
