{% extends "main/dashboard.html" %}
{% load i18n crispy_forms_tags staticfiles %}
{% load i18n app_security %}
{% load l10n humanize %}

{% block headjs %}
<script type="text/javascript">
	$(document).ready(function(){
        $("input[name=nombre]").change(function () {
			alert($(this).val());
			});
    });
</script>
{% endblock headjs %}

{% block breadcrumbs %}
<a href="{% url 'clivet:clivet' %}"><i class="fa fa-home"></i> {% trans 'Home' %} &rsaquo;</a>
{% endblock breadcrumbs %}

{% block content_title %}
{% endblock content_title %}

{% block content %}
<select>
    <option>Elige un Cliente</option>
    {% for cliente in clientes %}
        <option value="{{ cliente.id }}">{{ cliente.persona}}</option>
    {% endfor %}

</select>

<div>
    <form class="" name="datos" id="datos" method="post">

    </form>
</div>


{% endblock content %}

{% block extrajs %}
<script type="text/javascript">


</script>
{% endblock extrajs %}
