{% extends "main/dashboard.html" %}

{% load i18n app_security %}
{% load l10n humanize %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'clivet:clivet' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
  <li class="active">{{ opts.verbose_name_plural|capfirst }}</li>
</ol>
{% endblock breadcrumbs %}

{% block content_title %}
<i class="fa fa-paw"></i> {{ title }}
{% endblock content_title %}

{% block content %}

<div class="btn-toolbar btn-toolbar-top">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
              <select id="disabledSelect" class="form-control">
                  <option>Cualquier Medico</option>
              </select>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-5">
            <a href="{% url 'clinica:lista_medica' %}" class="btn btn-info btn-block text-bold" title="Ver toda las colas medicas">
                <span class="hidden-xs">Mostra Todo<span>
            </a>
        </div>
        <div class="col-md-2 ">
            <a href="{% url 'clinica:listar_historia' %}" class="btn btn-info btn-block text-bold" title="Ver toda las colas medicas">
                <span class="hidden-xs"> Ir a Historias<span>
            </a>
        </div>
    </div>
</div>
<div class="container-overflow">
    <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th class="col-hidden" data-search="fecha" data-order="fecha">Hora</th>
                <th class="col-hidden">Paciente</th>
                <th class="col-hidden">N° Historia</th>
                <th class="col-hidden">Propietario</th>
                <th class="col-hidden">Descripcion</th>
                <th class="col-hidden text-center">Estado</th>
                <th class="btn-actions col-blocked text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for d in fecha %}
            <tr>
                <td>{% if is_paginated %}
                    {{ page_obj.start_index|add:forloop.counter0 }}
                    {% else %}
                    {{ forloop.counter }}
                    {% endif %}
                </td>
                <td>{{ d.fecha|date }}</td>
                <td>{{ d.historia.mascota }} - {{ d.historia.mascota.raza}}</td>
                <td>{{ d.historia.num_historia }}</td>
                <td>{{ d.historia.mascota.dueño }}</td>
                <td>{{ d.descripcion }}</td>
                <td class="text-center">
                    <span class="label label-{{ d.estado|yesno:'success,danger' }}">
                        {%  if d.estado %}{% trans 'A ' %}
                        {% else %}{% trans 'E ' %}
                        {% endif %}
                    </span>
                </td>
                <td class="text-center">
                    <button class="btn btn-info btn-sm text-bold" data-container="body" data-toggle="popover" data-content="Medico asignado {{d.medico}}"><i class="btn-icon-only fa fa-user-md"></i></button>
                    <a href="/clinica/atencion/crear/{{d.pk|key:'medica_cre'}}/" class="btn btn-warning btn-sm text-bold" title="{% trans 'Iniciar' %} {% trans 'Atencion' %}" rel="tooltip"><i class="btn-icon-only fa fa-stethoscope"></i></a>

                    <a href="#" class="btn btn-success btn-sm up"><i class="fa fa-upload"></i></a>
                    <a href="#" class="btn btn-success btn-sm down"><i class="fa fa-download"></i></a>

                    <a href="{% url 'clinica:eliminar_medica' d.pk|key:'doc_del' %}" class="btn btn-danger btn-sm js-confirm text-bold" msg-title="Se le esta eliminando de la cola de espera" msg="Esta Seguro <br/>Recuerde esta operación no puede revertirse"  title="Eliminar de la cola de espera" rel="tooltip">
                        <i class="btn-icon-only fa fa-minus"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript">


$(function () {
   var $popoverInbox = $('[data-toggle="popover"]').popover({
        placement: 'top',
        trigger:'manual',
    });

  var timerPopover, popover_parent;

   function hidePopover(elem) {
  	$(elem).popover('hide');
	}

   $('[data-toggle="popover"]').hover(
		function() {
			var self = this;
			clearTimeout(timerPopover);
			$('.popover-all').hide(); //Hide any open popovers on other elements.
			popover_parent = self;
			$(self).popover('show');
		},
		function() {
			var self = this;
			timerPopover = setTimeout(function(){hidePopover(self);},100);
		}
	);

	$(document).on({
		mouseenter: function() {
			clearTimeout(timerPopover);
		},
		mouseleave: function() {
			var self = this;
			timerPopover = setTimeout(function(){hidePopover(popover_parent);},100);
		}
	}, '.popover-all');


});


    $(document).ready(function(){
        $(".up, .down").click(function(){
            var row = $(this).parents("tr:first");
            if ($(this).is(".up")) {
                row.insertBefore(row.prev());
            } else {
                row.insertAfter(row.next());
            }
        });
    });
</script>
{% endblock extrajs %}
