{% extends "main/dashboard.html" %}
{% load i18n crispy_forms_tags staticfiles %}
{% load i18n app_security %}
{% load l10n humanize %}
{% block style %}
<style media="screen">
    .page-clivet{
        display: none;
    }
    .detail-cabecera{
        padding: 15px 15px 0;
    }

    .detail-title{
        color: #00796B;
        font-weight: 900;
    }

    .detail-form-title, .detail-label-title{
        color: #212121;
        font-size: 1.3em;
        padding-top: 5px !important;
        text-align: center;
    }
    .detail-form-title{
        border: 1px solid #B2DFDB;
        border-radius: 3px;
    }
    .detail-form, .detail-label{
        color: #212121;
        font-size: 1.3em;
        padding-top: 5px !important;
        margin-bottom: 15px;
        text-align: left;
    }
    .detail-label{
        padding-left: 40px;
    }
    .detail-form{
        padding-left: 15px;
        border: 1px solid #B2DFDB;
        border-radius: 3px;
    }
    .detail-subtitle{
        border: 2px solid #B2DFDB;
        font-size: 1.7em;
        color: #00796B;
        font-weight: 700;
    }
</style>
{% endblock style %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'clivet:clivet' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
  <li><a href="{% url 'clivet:clivet' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
<li class="active">{{ title }}</li>
</ol>
{% endblock breadcrumbs %}

{% block content_title %}
{% endblock content_title %}

{% block content %}
<div class="panel panel-default">
        <div class="row detail-cabecera">
            <div class="col-md-4">
                <img src="/media/clivet/logo.png" class="img-responsive  img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h1 class="detail-title">HISTORIA CLINICA</h1>
                <div class="row">
                    <div class="form-group col-md-7 col-md-offset-5 form-horizontal">
                        <label class="col-sm-4 control-label detail-label-title">H.C. N°</label>
                        <div class="col-sm-8">
                            <div class="form-control-static detail-form-title">{{ form.num_historia.value }}</div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <img src="/media/clivet/images.jpg" alt="..." class="img-responsive img-rounded img-thumbnail">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center detail-subtitle">DATOS DEL PROPIETARIO</h2>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label detail-label"> {{ form.dueño.label }}: </label>
                    <div class="col-sm-8">
                        <p class="form-control-static detail-form"> {{ form.dueño.value }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label detail-label"> {{ form.ciudad.label }}: </label>
                    <div class="col-sm-8">
                        <p class="form-control-static detail-form"> {{ form.ciudad.value }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label detail-label"> {{ form.direccion.label }}: </label>
                    <div class="col-sm-8">
                        <p class="form-control-static detail-form"> {{ form.direccion.value }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label detail-label"> {{ form.telefono.label }}: </label>
                    <div class="col-sm-8">
                        <p class="form-control-static detail-form"> {{ form.telefono.value }} </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center detail-subtitle">DATOS DEL PACIENTE</h2>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-labe detail-label"> {{ form.especie.label }}: </label>
                    <div class="col-sm-8">
                        <p class="form-control-static detail-form"> {{ form.especie.value }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label detail-label"> {{ form.nombre.label }}: </label>
                    <div class="col-sm-8">
                        <p class="form-control-static detail-form"> {{ form.nombre.value }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label detail-label">F. Nacimiento:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static detail-form"> {{ form.edad.value }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label detail-label"> {{ form.raza.label }}: </label>
                    <div class="col-sm-8">
                        <p class="form-control-static detail-form"> {{ form.raza.value }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label detail-label"> {{ form.color.label }}: </label>
                    <div class="col-sm-8">
                        <p class="form-control-static detail-form"> {{ form.color.value }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label detail-label"> {{ form.genero.label }}: </label>
                    <div class="col-sm-8">
                        <p class="form-control-static detail-form"> {{ form.genero.value }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label detail-label"> {{ form.alimentacion.label }}: </label>
                    <div class="col-sm-8">
                        <p class="form-control-static detail-form"> {{ form.alimentacion.value }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label detail-label"> {{ form.actividad.label }}: </label>
                    <div class="col-sm-8">
                        <p class="form-control-static detail-form"> {{ form.actividad.value }} </p>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock content %}




{% block extrajs %}
{{ block.super }}
<script src="{% static 'admin/js/core.js' %}"></script>
<script src="{% static 'admin/js/jquery.js' %}"></script>
<script src="{% static 'admin/js/jquery.init.js' %}"></script>

<script src="{% static 'admin/js/SelectBox.js' %}"></script>
<script src="{% static 'admin/js/SelectFilter2.js' %}"></script>

<script type="text/javascript">
$(function(){
	$('#id_photo').fileinput({
		showUpload: false,
		showRemove: false,
		showBrowse: false,
		initialCaption: '{{ form.photo.value }}',
		initialPreview: ['<img src="{{ MEDIA_URL }}{{ form.photo.value }}">',],
		browseClass: 'btn btn-warning',

	});

	jQuery.each($('#id_hgroups'), function () {
        // "Locations" can be any label you want
        SelectFilter.init('id_hgroups', "{% trans 'groups'|capfirst %}", false, '/static/admin/');
    });
	jQuery.each($('#id_egroups'), function () {
        // "Locations" can be any label you want
        SelectFilter.init('id_egroups', "{% trans 'groups'|capfirst %}", false, '/static/admin/');
    });
    jQuery.each($('#id_agroups'), function () {
        // "Locations" can be any label you want
        SelectFilter.init('id_agroups', "{% trans 'groups'|capfirst %}", false, '/static/admin/');
    });


});
</script>
{% endblock extrajs %}
