{% extends "main/dashboard.html" %}
{% load i18n crispy_forms_tags staticfiles %}
{% load i18n app_security %}
{% load l10n humanize %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'clivet:clivet' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
  <li><a href="{% url 'clivet:clivet' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
<li class="active">{{ title }}</li>
</ol>
{% endblock breadcrumbs %}

{% block content_title %}
<i class="fa fa-paw"></i> {{ title }}
{% endblock content_title %}

{% block content %}

<div class="">
    <p>
        <div class="form-group">
        <label class="control-label"> {{ form.dueño.label }} </label>
        <div class="controls ">{{ form.dueño.value }}</div>
        </div>
    </p>
</div>

{% endblock %}


{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'custom/css/admin.css' %}">
{% endblock extrastyle %}


{% block extrajs %}
{{ block.super }}
<script src="{% static 'admin/js/core.js' %}"></script>
<script src="{% static 'admin/js/jquery.js' %}"></script>
<script src="{% static 'admin/js/jquery.init.js' %}"></script>

<script src="{% static 'admin/js/SelectBox.js' %}"></script>
<script src="{% static 'admin/js/SelectFilter2.js' %}"></script>

<script type="text/javascript">
$(function(){
	$('#id_photo').fileinput({
		showUpload: false,
		showRemove: false,
		showBrowse: false,
		initialCaption: '{{ form.photo.value }}',
		initialPreview: ['<img src="{{ MEDIA_URL }}{{ form.photo.value }}">',],
		browseClass: 'btn btn-warning',

	});

	jQuery.each($('#id_hgroups'), function () {
        // "Locations" can be any label you want
        SelectFilter.init('id_hgroups', "{% trans 'groups'|capfirst %}", false, '/static/admin/');
    });
	jQuery.each($('#id_egroups'), function () {
        // "Locations" can be any label you want
        SelectFilter.init('id_egroups', "{% trans 'groups'|capfirst %}", false, '/static/admin/');
    });
    jQuery.each($('#id_agroups'), function () {
        // "Locations" can be any label you want
        SelectFilter.init('id_agroups', "{% trans 'groups'|capfirst %}", false, '/static/admin/');
    });


});
</script>
{% endblock extrajs %}
