{% extends "main/dashboard.html" %}
{% load i18n app_security %}
{% load l10n humanize %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'clivet:clivet' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
  <li class="active">{{ opts.verbose_name_plural|capfirst }}</li>
</ol>
{% endblock breadcrumbs %}

{% block content_title %}
<i class="fa fa-list"></i> {{ title }}
{% endblock content_title %}

{% block content %}

<script type="text/javascript">
$(function() {
    $('table').kgrid({
        form_data : ['{{f}}', '{{q}}'],
        form_to   : '/clinica/historia/listar/?f={{f}}&q={{q}}',
        order_attr: 'class=""',
        order_to  : '/clinica/historia/listar/?f={{f}}&q={{q}}',
    });
});
</script>

<div class="btn-toolbar btn-toolbar-top">
    <div class="row">
        <div class="btn-actions col-md-9">
        </div>
    </div>
</div>
<div class="container-overflow">
    <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th class="col-hidden"  data-search="num_historia" data-order="num_historia">N° Historia</th>
                <th class="col-hidden">Veterinario</th>
                <th class="col-hidden">Mascota</th>
                <th class="col-hidden">Fecha</th>
                <th class="btn-actions col-blocked text-center">Mas Detalle</th>
            </tr>
        </thead>
        <tbody>
            {% for d in object_list %}
            <tr>
                <td>{% if is_paginated %}
                    {{ page_obj.start_index|add:forloop.counter0 }}
                    {% else %}
                    {{ forloop.counter }}
                    {% endif %}
                </td>
                <td>{{ d.num_historia }}</td>
                <td>{{ d.veterinario }}</td>
                <td>{{ d.mascota }}</td>
                <td>{{ d.created_ath }}</td>
                <td class="text-center">
                    <a href="{% url 'clinica:historia_detail' d.pk|key:'historia_det' %}" class="btn btn-warning btn-sm text-bold" title="{% trans 'Detail' %} {% trans 'historia' %}" rel="tooltip">
                        <i class="btn-icon-only fa fa-eye"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div  class="row" >
    {% if is_paginated %}
    {% load paginator %}
    {% paginator %}
    {% else %}
    <div class="col-md-12" >
        <ul class="breadcrumbpag" >
            {{ object_list.count }} {% ifequal object_list.count 1 %}{{ opts.verbose_name|capfirst }}{% else %}{{ opts.verbose_name_plural|capfirst }}{% endifequal %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock content %}
{% block extrajs %}
{{ block.super }}

<script type="text/javascript">
$('#myModal').modal({
  keyboard: false
})
</script>
{% endblock extrajs %}
