{% extends "main/dashboard.html" %}
<!--
@package     conf
Descripcion: Lista Tipo Documento
-->
{% load i18n app_security %}
{% load l10n humanize %}

{% block breadcrumbs %}
<a href="{% url 'clivet:clivet' %}"><i class="fa fa-home"></i> {% trans 'Home' %} &rsaquo;&rsaquo;</a>
 {{ opts.verbose_name_plural|capfirst }}
{% endblock breadcrumbs %}

{% block content_title %}
<h3><i class="fa fa-paw"></i> Listado de {{ opts.verbose_name_plural|capfirst }} | <small>{{ title }}</small></h3>
{% endblock content_title %}

{% block content %}

<script type="text/javascript">
$(function() {
    $('table').kgrid({
        form_data : ['{{f}}', '{{q}}'],
        form_to   : '/clinica/mascota/listar/?f={{f}}&q={{q}}',
        order_attr: 'class=""',
        order_to  : '/clinica/mascota/listar/?f={{f}}&q={{q}}',
    });
});
</script>

<div class="btn-toolbar btn-toolbar-top">
    <div class="row">
        <div class="btn-actions">
            <a href="{% url 'clinica:crear_mascota' %}" class="btn btn-primary text-bold" title="Agregar Mascota">
                <i class="fa fa-plus"></i>
                <span class="hidden-xs"> Agregar</span>
            </a>
            <a href="{% url 'clinica:listar_historia' %}" class="btn btn-success text-bold" title="Ir al Historial">
                <i class="fa fa-hospital-o"></i>
                <span class="hidden-xs"> Historiales</span>
            </a>
        </div>
    </div>
</div>

<div class="container-overflow">
    <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th class="col-hidden" data-search="nombre" data-order="nombre">Nombre</th>
                <th class="col-hidden">Dueño</th>
                <th class="col-hidden">Especie</th>
                <th class="col-hidden">Raza</th>
                <th class="col-hidden">C. Corporal</th>
                <th class="col-hidden">Activo</th>
                <th class="btn-actions col-blocked text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for d in object_list %}
            <tr class="{{ d.is_active|yesno:',danger' }}">
                <td>{% if is_paginated %}
                    {{ page_obj.start_index|add:forloop.counter0 }}
                    {% else %}
                    {{ forloop.counter }}
                    {% endif %}
                </td>
                <td>{{ d.nombre }}</td>
                <td>{{ d.dueño }}</td>
                <td>{{ d.especie }}</td>
                <td>{{ d.raza }}</td>
                <td>{{ d.cond_corporal }}</td>
                <td>
                    <span class="label label-{{ d.is_active|yesno:'primary,success' }}">
                        {% if d.is_active %}{% trans 'Yes'|upper %} {% else %} {% trans 'No'|upper %} {% endif %}
                        </span>
                </td>
                <td class="text-center">
                    <a href="{% url 'clinica:actualizar_mascota' d.pk|key:'doc_upd' %}" class="btn btn-info btn-sm text-bold" title="Ediatar datos de la Mascota" rel="tooltip">
                        <i class="btn-icon-only fa fa-edit"></i>
                    </a>
                    {% if d.is_active %}

                    <a href="/clinica/mascota/state/ina/{{d.pk|key:'mascota_ina'}}/" class="btn btn-success btn-sm text-bold" title="{% trans 'inactivate'|capfirst %} {% trans 'Mascota' %}" rel="tooltip"><i class="btn-icon-only fa fa-flag"></i></a>

                    {% else %}

                    <a href="/clinica/mascota/state/rea/{{d.pk|key:'mascota_rea'}}/" class="btn btn-info btn-sm text-bold" title="{% trans 'reactivate'|capfirst %} {% trans 'Mascota' %}" rel="tooltip"><i class="btn-icon-only fa fa-flag"></i></a>

                    {% endif %}

                    <a href="/clinica/{{ d.pk|key:'doc_del' }}" class="btn btn-danger btn-sm js-confirm text-bold"
                       msg-title="Esta seguro que desea eliminar esta mascota?."
                       msg="Esta Seguro
                       <br/>Recuerde esta operación no puede revertirse"
                       title="Cambiar estado de la Mascota" rel="tooltip">
                        <i class="btn-icon-only fa fa-minus"></i>
                    </a>

                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
<div  class="row" >
    {% if is_paginated %}
    {% load paginator %}
    {% paginator %}
    {% else %}
    <div class="col-md-12" >
        <ul class="breadcrumbpag" >
            {{ object_list.count }} {% ifequal object_list.count 1 %}{{ opts.verbose_name|capfirst }}{% else %}{{ opts.verbose_name_plural|capfirst }}{% endifequal %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock content %}
