{% extends "main/dashboard.html" %} {% load i18n app_security %}{% load i18n crispy_forms_tags %} {% load l10n humanize %} {% block breadcrumbs %}
<a href="{# url 'accounts:index' #}">{% trans 'Home' %}</a> &rsaquo; {{ title }} {% endblock breadcrumbs %} {% block content_title %} {{ opts.verbose_name_plural|capfirst }} | <small>{{ title }}</small> {% endblock content_title %} {% block content %}
<div class="container-fluid">
    <div class="btn-group col-md-offset-10">
        <button type="button" class="btn btn-danger">Ventass Pendientes</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="">4</span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">cliente 1</a></li>
            <li><a href="#">cliente 2</a></li>
            <li><a href="#">cliente 3</a></li>
            <li><a href="#">Cliente 4</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default row ">
                <p><span class="glyphicon glyphicon-shopping-cart btn-lg" aria-hidden="true"></span>Añadir productos o Servicios a la cuenta del Cliente</p>
                <div class="form-group col-lg-8">
                    <label class="sr-only" for="producto"></label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </div id="bloodhound">
                        <div class="#">
                            
                        {{ form.producto|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="">
                        <input type="number" name="cantidad" class="form-control" id="cantidad_producto">
                    </div>
                </div>
                <div class="col-md-2">
                    <button id="enviar_producto" class="btn btn-primary">Enviar</button>
                    
                </div>
            </div>
            <div class="panel panel-default">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Descripcion</th>
                            <th>Precio unitario</th>
                            <th>Importe</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody id="tabla_producto">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <form rule="" action="" method="post">{% csrf_token %}
                <div class="panel panel-default container row">
                    <p><span class="glyphicon glyphicon-user btn-lg" aria-hidden="true"></span>Seleccionar Cliente (Opcional)</p>
                    <div class="form-group">
                        <label class="sr-only" for="cliente"></label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="" class="btn btn-primary">Nuevo Cliente</button>
                            </div>
                            {{ form.cliente}}
                            {{ form.cliente.errors}}
                            {{ form.data_venta}}
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default container row">
                    <p><span class="glyphicon glyphicon-shopping-cart btn-lg" aria-hidden="true"></span>Resumen de la Venta</p>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Sub Total</p>
                        </div>
                        <div class="col-md-6">
                            <p>S/.<span id="r_sub_total">00.00</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>IGV <span> 18% </span></p>
                        </div>
                        <div class="col-md-6">
                            <p>S/.<span id="r_igv">00.00</span></p>
                        </div>
                    </div>
                    <div class="row center-block">
                        <div class="col-md-6">
                            <p>Monto a pagar</p>
                        </div>
                        <div class="col-md-6">
                            <p>S/.<span id="r_total">00.00 </span></p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="input-group-btn">
                            <button id="btn_pagar" type="submit" name='form' class="col-md-8 col-md-offset-3  btn btn-success "> Pagar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
var stocksdata=[
    {
        "company_name": "Facebook",
        "code": "fb",
        "id": 1,
    },
    {
        "company_name": "Twitter",
        "code": "fb",
        "id": 2,
    },
    {
        "company_name": "Whatsapp",
        "code": "fb",
        "id": 3,
    },
    {
        "company_name": "Google",
        "code": "goog",
        "id": 4,
    },
    {
        "company_name": "Yahoo",
        "code": "yhoo",
        "id": 5,
    },
    {
        "company_name": "Apple",
        "code": "aapl",
        "id": 6,
    },
    {
        "company_name": "Royal Mail",
        "code": "rmg.l",
        "id": 5,
    },
 ];

$(document).ready(function(){
   

var stocks = new Bloodhound({

        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('company_name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        //url:"{% url 'ventas:producto_s' %}"//'stockCodes.json',
        local: stocksdata,
        //remote: '/producto/search/',
    });

    stocks.initialize();

    $('.typeahead ').typeahead(
       null,  {

        displayKey: 'company_name',
        source: stocks.ttAdapter()
    }).on('typeahead:selected', function(event, data){            
        $('.typeahead').val(data.id);  
        Venta.temp=data.id;    
    });

});
$(document).ready(function() {
    $("#enviar_producto").click(function() {
        function not_exist(dd) {
            for (var i in Venta.productos) {
                if (Venta.productos[i].id == dd) {
                    return false;
                    //mensaje error
                }
            }
            return true;
        }
        if ((not_exist(Venta.temp) && Venta.temp!==-1)) {
            $.ajax({
                    url: "{% url 'ventas:carro' %}",
                    type: 'get',
                    data: {
                        p:  Venta.temp
                    },
                })
                .done(function(data) {
                    data[0].fields.cantidad = $('#cantidad_producto').val();
                    data[0].fields.importe = data[0].fields.precioV * data[0].fields.cantidad;
                    data[0].fields.id = data[0].pk;
                    Venta.productos.push(data[0].fields);
                    $('#cantidad_producto').val("1");
                    Venta.igv = Venta.igv + (data[0].fields.importe * 0.18);
                    Venta.total = Venta.total + data[0].fields.importe;
                    Venta.sub_total = Venta.total - Venta.igv;
                    draw();
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
        }

    });
});
var Venta = {
    productos: [],
    igv: 0.00,
    sub_total: 0.00,
    total: 0.00,
    temp:-1
};

function draw() {
    $("#r_sub_total").text(Venta.sub_total);
    $("#r_igv").text(Venta.igv);
    $("#r_total").text(Venta.total);
    var h = "";
    for (var i in Venta.productos) {
        h = h + "<tr>" +
            "<td contenteditable='true' class='text-center' id='id" + i + "' onblur='change_p(" + i + ")'>" + Venta.productos[i].cantidad +
            "</td><td>" + Venta.productos[i].nombre +
            "</td><td>" + Venta.productos[i].precioV +
            "</td><td>" + Venta.productos[i].importe +
            "</td><td><button type='button' onclick='delete_p(" + i + ")'class='btn btn-default btn-md'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span>Quitar</button></td></tr>";

    }
    $("#tabla_producto").html(h);
    console.log(JSON.stringify(Venta));
    $("#id_data_venta").val(JSON.stringify(Venta));
}

function delete_p(d) {
    Venta.productos.splice(d, 1);
    Venta.total = 0.00;
    for (var i in Venta.productos) {
        Venta.total = Venta.total + Venta.productos[i].importe;
    }
    Venta.igv = Venta.total * 0.18;
    Venta.sub_total = Venta.total - Venta.igv;
    draw();
}

function change_p(d) {
    Venta.productos[d].cantidad = $("#id" + d).text();
    Venta.productos[d].importe = Venta.productos[d].cantidad * Venta.productos[d].precioV;
    Venta.total = 0.00;
    for (var i in Venta.productos) {
        Venta.total = Venta.total + Venta.productos[i].importe;
    }
    Venta.igv = Venta.total * 0.18;
    Venta.sub_total = Venta.total - Venta.igv;
    draw();
}
</script>
<!-- /#page-wrapper -->
{% endblock content %}
