{% extends "main/dashboard.html" %} {% load i18n app_security %}{% load i18n crispy_forms_tags %} {% load l10n humanize %} {% block breadcrumbs %}
<a href="{# url 'accounts:index' #}">{% trans 'Home' %}</a> &rsaquo; {{ title }} {% endblock breadcrumbs %} {% block content_title %} {{ opts.verbose_name_plural|capfirst }} | <small>{{ title }}</small> {% endblock content_title %} {% block content %}
<div class="container-fluid">
    <form rule="" action="" method="post">{% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-body row">
                <div class="col-md-6">
                    <p>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Proveedor
                    </p>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-btn" id='addProveedor'>
                                <a class="btn btn-primary">Nuevo Proveedor</a>
                            </div>
                            {{ form.proveedor}} {{ form.proveedor.errors}} {{ form.data_compra}}
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default row">
                    <p><span class="glyphicon glyphicon-shopping-cart btn-lg" aria-hidden="true"></span>Añadir productos</p>
                    <div class="form-group col-lg-8">
                        <label class="sr-only" for="producto"></label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                            {{ form.producto|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <input type="number" name="cantidad" class="form-control" id="cantidad_producto" min="0" max="1000">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button id="enviar_producto" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
                <div class="panel panel-default">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Producto</th>
                                <th>Precio unitario</th>
                                <th>Precio total</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody id="tabla_producto">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <p><span class="glyphicon glyphicon-shopping-cart btn-lg" aria-hidden="true"></span>Resumen de Compra Realizada</p>
                    <div class="row center-block">
                        <div class="col-md-8">
                            <p>Cantidad de Producto</p>
                        </div>
                        <div class="col-md-4">
                            <p><span id="r_cantidad_total">0</span></p>
                        </div>
                    </div>
                    <div class="row center-block">
                        <div class="col-md-8">
                            <p>Total</p>
                        </div>
                        <div class="col-md-4">
                            <p>S/.<span id="r_total">00.00</span></p>
                        </div>
                    </div>
                    <div class="row center-block">
                        <!-- <div class="col-md-6">
                            <p>Comprobante</p>
                        </div> -->
                        <div class="col-md-6">
                            {{ form.comprobante|as_crispy_field }}
                        </div>
                    </div>
                    <div class="input-group-btn">
                        <button id="btn_pagar" type="submit" name='form' class="col-md-12 col-md-offset-4  btn btn-success "> Realizar Compra</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Agregar Proveedor</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="row center-block">
                        <div class="col-md-6">
                            {{form.tipo_doc|as_crispy_field}}
                            <label for="nombre">N° de documento:</label>
                            <input type="number" class="form-control" id="numdoc">
                            <label for="nombre">Razon social:</label>
                            <input type="text" class="form-control" id="razon_social">
                            <label for="nombre">Representante legal:</label>
                            <input type="text" class="form-control" id="representante_legal">
                            <label for="nombre">Direccion:</label>
                            <input type="text" class="form-control" id="direccion">
                        </div>
                        <div class="col-md-6">
                            <label for="nombre">Telefono:</label>
                            <input type="number" class="form-control" id="telefono">
                            <label for="nombre">Email:</label>
                            <input type="email" class="form-control" id="email">
                            <label for="nombre">Entidad bancaria:</label>
                            <input type="text" class="form-control" id="enti_bancaria">
                            <label for="nombre">N° de cuenta:</label>
                            <input type="text" class="form-control" id="num_cuenta">
                            <label for="nombre">Estado:</label>
                            <input type="text" class="form-control" id="estado">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="save-proveedor">Guardar</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        //"use strict";
        $("#enviar_producto").click(function(e) {
            e.preventDefault();

            function not_exist(dd) {
                for (var i in Compra.productos) {
                    if (Compra.productos[i].id == dd) {
                        return false;
                        //mensaje error
                    }
                }
                return true;
            }
            if (not_exist($('#id_producto').val())) {
                $.ajax({
                        url: "{% url 'ventas:carro' %}",
                        type: 'get',
                        data: {
                            p: $('#id_producto').val()
                        },
                    })
                    .done(function(data) {
                        data[0].fields.cantidad = $('#cantidad_producto').val();
                        data[0].fields.importe = data[0].fields.precioC * data[0].fields.cantidad;
                        data[0].fields.id = data[0].pk;
                        Compra.productos.push(data[0].fields);
                        $('#cantidad_producto').val("1");
                        Compra.total = Compra.total + data[0].fields.importe;
                        Compra.cantidad_total = Compra.cantidad_total + parseInt(data[0].fields.cantidad);
                        draw();
                    })
                    .fail(function() {
                        console.log("error");
                    })
                    .always(function() {
                        console.log("complete");
                    });
            }

        });
    });
    var Compra = {
        productos: [],
        total: 0.00,
        cantidad_total: 0,
    };

    function draw() {
        $("#r_cantidad_total").text(Compra.cantidad_total);
        $("#r_total").text(Compra.total);
        var h = "";
        for (var i in Compra.productos) {
            h = h + "<tr>" +
                "<td contenteditable='true' class='text-center' id='id" + i + "' onblur='change_p(" + i + ")'>" + Compra.productos[i].cantidad +
                "</td><td>" + Compra.productos[i].nombre +
                "</td><td>" + Compra.productos[i].precioC +
                "</td><td>" + Compra.productos[i].importe +
                "</td><td><button type='button' onclick='delete_p(" + i + ")'class='btn btn-default btn-md'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span>Quitar</button></td></tr>";

        }
        $("#tabla_producto").html(h);

        $("#id_data_compra").val(JSON.stringify(Compra));
    }

    function delete_p(d) {
        var deleted_product = Compra.productos.splice(d, 1);
        Compra.total = Compra.total - deleted_product[0].importe;
        Compra.cantidad_total = Compra.cantidad_total - deleted_product[0].cantidad;
        draw();
    }

    function change_p(d) {
        Compra.productos[d].cantidad = $("#id" + d).text();
        Compra.productos[d].importe = Compra.productos[d].cantidad * Compra.productos[d].precioC;
        Compra.total = 0.00;
        Compra.cantidad_total = 0;
        for (var i in Compra.productos) {
            Compra.total = Compra.total + Compra.productos[i].importe;
            Compra.cantidad_total = Compra.cantidad_total + Compra.productos[i].cantidad;
        }
        draw();
    }
    $('#addProveedor').click(function() {
        $('#myModal').modal('show');
    });
    </script>
    <!-- /#page-wrapper -->
    {% endblock content %}
