{% extends "main/dashboard.html" %} {% load i18n app_security staticfiles%} {% load i18n crispy_forms_tags %} {% load l10n humanize %} {% block style %}
<link href="{% static 'clivet/compras.css' %}" rel="stylesheet"> {% endblock style %} {% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'clivet:clivet' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
    <li class="active"> {{ opts.verbose_name_plural|capfirst }}</li>
</ol>
{% endblock breadcrumbs %} {% block content_title %} {{title}}{% endblock content_title %} {% block content %}
<script>
$(function() {
    $('.chosen-select').chosen();
});
</script>
<div class="row container-fluid panel panel-default">
    <form rule="" action="" method="post">{% csrf_token %}
        <div class="panel row panel-heading ">
            <div class="col-md-1 ">
                <p class="titulo-busqueda"><span class="glyphicon glyphicon-shopping-cart"></span>Proveedor</p>
            </div>
            <div class="col-md-5">
                {{ form.proveedor}} {{ form.proveedor.errors}} {{ form.data_compra}}
            </div>
            <div class="col-md-5 panel-titulo-detalle " id="proveedor-info">
            </div>
            <div class="col-md-1" id='addProveedor'>
                <a type="search" class="btn nuevo-cliente btn-lg ">Nuevo</a>
            </div>
        </div>
        <div class="row panel panel-info ">
            <div class="col-md-8 ">
                <div class="panel-heading row panel-titulo">
                    <p><span class="glyphicon glyphicon-shopping-cart btn-lg" aria-hidden="true"></span>Añadir productos</p>
                    <div class="form-group col-lg-8">
                        <label class="sr-only" for="producto"></label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                            {{ form.producto}}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <input type="number" name="cantidad" class="form-control" id="cantidad_producto" min="0" max="1000">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button id="enviar_producto" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
                <div class="panel-body ">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center th-carrito">Cantidad</th>
                                <th class="text-center th-carrito">Producto</th>
                                <th class="text-center th-carrito">Precio unitario</th>
                                <th class="text-center th-carrito">Precio total</th>
                                <th class="text-center th-carrito">Opciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody id="tabla_producto">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4 panel panel-warning">
                <div class="panel-body  text-center">
                    <p><span class="glyphicon glyphicon-shopping-cart btn-lg" aria-hidden="true"></span>Resumen de Compra Realizada</p>
                    <div class="row center-block">
                        <div class="col-md-8">
                            <p>Cantidad de Producto</p>
                        </div>
                        <div class="col-md-4">
                            <p><span id="r_cantidad_total">0</span></p>
                        </div>
                    </div>
                    <div class="row center-block">
                        <div class="col-md-8">
                            <p>Total</p>
                        </div>
                        <div class="col-md-4">
                            <p>S/.<span id="r_total">00.00</span></p>
                        </div>
                    </div>
                    <div class="row center-block">
                        <!-- <div class="col-md-6">
                            <p>Comprobante</p>
                        </div> -->
                        <div class="col-md-6">
                            {{ form.comprobante|as_crispy_field }}
                        </div>
                    </div>
                    <div class="input-group-btn">
                        <button id="btn_pagar" type="submit" name='form' class="col-md-12 col-md-offset-4  btn btn-success "> Realizar Compra</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Agregar Proveedor</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post" name="proveedor-form" id="proveedor-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div id="div_id_razon_social" class="form-group">
                                <label for="id_razon_social" class="control-label  requiredField">
                                    Razon social<span class="asteriskField">*</span> </label>
                                <div class="controls ">
                                    <input class="textinput textInput form-control" id="id_razon_social" maxlength="50" name="razon_social" placeholder="Ingrese el nombre de la empresa" type="text"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            {{form.tipo_doc|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            <div id="div_id_numdoc" class="form-group">
                                <label for="id_numdoc" class="control-label  requiredField">
                                    Número de documento<span class="asteriskField">*</span> </label>
                                <div class="controls ">
                                    <input class="numberinput form-control" id="id_numdoc" name="numdoc" placeholder="Ingrese un número" type="number" min="0" maxlength="11"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="div_id_representante_legal" class="form-group">
                                <label for="id_representante_legal" class="control-label  requiredField">
                                    Representante legal<span class="asteriskField">*</span> </label>
                                <div class="controls ">
                                    <input class="textinput textInput form-control" id="id_representante_legal" maxlength="50" name="representante_legal" placeholder="Ingrese el nombre completo" type="text"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div id="div_id_direccion" class="form-group">
                                <label for="id_direccion" class="control-label  requiredField">
                                    Direccion<span class="asteriskField">*</span> </label>
                                <div class="controls ">
                                    <input class="textinput textInput form-control" id="id_direccion" maxlength="30" name="direccion" placeholder="Ingrese un dirección" type="text"> </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="div_id_telefono" class="form-group">
                                <label for="id_telefono" class="control-label ">
                                    Telefono
                                </label>
                                <div class="controls ">
                                    <input class="numberinput form-control" id="id_telefono" name="telefono" placeholder="Ingrese un número" type="number" min="0"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="div_id_email" class="form-group">
                                <label for="id_email" class="control-label ">
                                    Email
                                </label>
                                <div class="controls ">
                                    <input class="emailinput form-control" id="id_email" maxlength="30" name="email" placeholder="Ingrese un correo" type="email"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div id="div_id_enti_bancaria" class="form-group">
                                <label for="id_enti_bancaria" class="control-label ">
                                    Entidad bancaria
                                </label>
                                <div class="controls ">
                                    <input class="textinput textInput form-control" id="id_enti_bancaria" maxlength="30" name="enti_bancaria" placeholder="Ingrese el nombre" type="text"> </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="div_id_num_cuenta" class="form-group">
                                <label for="id_num_cuenta" class="control-label ">
                                    Número de cuenta
                                </label>
                                <div class="controls ">
                                    <input class="numberinput form-control" id="id_num_cuenta" name="num_cuenta" min="0" placeholder="Ingrese un número" type="number"> </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="alert alert-danger hide" role="alert" id="success_message_proveedor"></div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="controls ">
                        <button type="submit" name="submit" class="btn btn-primary text-bold" id="save-proveedor" title="Grabar">
                            <i class="btn-icon-onlyx fa fa-save"></i> <span class="hidden-xsx"> Grabar</span>
                        </button>
                        <button type="button" name="cancel" class="btn btn btn-danger btn-back text-bold" id="button-id-cancel" title="Cancel">
                            <i class="btn-icon-onlyx fa fa-ban"></i> <span class="hidden-xs"> Cancelar</span>
                        </button>
                        <button type="reset" name="reset" class="btn btn btn-default text-bold" id="reset-id-reset" title="Reset">
                            <i class="btn-icon-onlyx fa fa-undo"></i> <span class="hidden-xs"> Limpiar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    //"use strict";
    $("#enviar_producto").click(function(e) {
        e.preventDefault();

        function not_exist(dd) {
            for (var i in Compra.productos) {
                if (Compra.productos[i].id == dd) {
                    return false;
                    //mensaje error
                }
            }
            return true;
        }
        if (not_exist($('#id_producto').val())) {
            $.ajax({
                    url: "{% url 'ventas:carro' %}",
                    type: 'get',
                    data: {
                        p: $('#id_producto').val()
                    },
                })
                .done(function(data) {
                    data[0].fields.cantidad = $('#cantidad_producto').val();
                    data[0].fields.importe = data[0].fields.precioC * data[0].fields.cantidad;
                    data[0].fields.id = data[0].pk;
                    Compra.productos.push(data[0].fields);
                    $('#cantidad_producto').val("1");
                    Compra.total = Compra.total + data[0].fields.importe;
                    Compra.cantidad_total = Compra.cantidad_total + parseInt(data[0].fields.cantidad);
                    draw();
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
        }

    });
});
var Compra = {
    productos: [],
    total: 0.00,
    cantidad_total: 0,
};

function draw() {
    $("#r_cantidad_total").text(Compra.cantidad_total);
    $("#r_total").text(Compra.total);
    var h = "";
    for (var i in Compra.productos) {
        h = h + "<tr>" +
            "<td contenteditable='true' class='text-center' id='id" + i + "' onblur='change_p(" + i + ")'>" + Compra.productos[i].cantidad +
            "</td><td>" + Compra.productos[i].nombre +
            "</td><td>" + Compra.productos[i].precioC +
            "</td><td>" + Compra.productos[i].importe +
            "</td><td><button type='button' onclick='delete_p(" + i + ")'class='btn btn-default btn-md'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span>Quitar</button></td></tr>";

    }
    $("#tabla_producto").html(h);

    $("#id_data_compra").val(JSON.stringify(Compra));
}

function delete_p(d) {
    var deleted_product = Compra.productos.splice(d, 1);
    Compra.total = Compra.total - deleted_product[0].importe;
    Compra.cantidad_total = Compra.cantidad_total - deleted_product[0].cantidad;
    draw();
}

function change_p(d) {
    Compra.productos[d].cantidad = $("#id" + d).text();
    Compra.productos[d].importe = Compra.productos[d].cantidad * Compra.productos[d].precioC;
    Compra.total = 0.00;
    Compra.cantidad_total = 0;
    for (var i in Compra.productos) {
        Compra.total = Compra.total + Compra.productos[i].importe;
        Compra.cantidad_total = Compra.cantidad_total + Compra.productos[i].cantidad;
    }
    draw();
}
$('#addProveedor').click(function() {
    $('#myModal').modal('show');
});
$('#id_proveedor').change(function() {
    getProveedor();
});
getProveedor();

function getProveedor() {
    $.ajax({
        url: "{% url 'compras:get_proveedor_ajax' %}",
        type: 'get',
        data: {
            pk: $('#id_proveedor').val()
        },
    })

    .done(function(data) {
            console.log(data);
            $('#proveedor-info').html('<div class="col-md-4"><p>Razón Social:<span>' + data.razon_social + '</pan></p></div ><div class="col-md-4"><p>N° de ' + data.tipodoc + ':<span>' + data.numdoc + '</span></div><div class="col-md-4"><p>Representante legal:<span>' + data.representante_legal + '</span></p></div>');
        })
        .fail(function() {
            console.log("error");
        })
        .always(function() {
            console.log("complete");
        });
}
$('#save-proveedor').click(function() {
    var formArray = $("#proveedor-form").serializeArray();
    var formJson = JSON.stringify(formArray);
    console.log(formArray);
    if (formArray[1].value.trim().length > 0 &&
        formArray[3].value.trim().length > 0 &&
        formArray[4].value.trim().length > 0 &&
        formArray[5].value.trim().length > 0) {
        $.ajax({
                url: '{% url "compras:post_proveedor_ajax" %}',
                type: 'POST',
                dataType: 'json',
                data: {
                    rs: formArray[1].value,
                    td: formArray[2].value,
                    nd: formArray[3].value,
                    rl: formArray[4].value,
                    d: formArray[5].value,
                    t: formArray[6].value,
                    e: formArray[7].value,
                    c: formArray[8].value,
                    nc: formArray[9].value,
                },
            })
            .done(function(d) {
                var select = $("#id_proveedor");
                select.append('<option value="' + d.pk + '">' + d.name + '</option>');
                select.val(d.pk);
                select.trigger("chosen:updated");
                $('#myModal').modal('hide');
                getProveedor();
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
    } else {
        $('#success_message_proveedor').attr('class', 'alert alert-danger').text("Revise los datos ingresados nuevamente.");
    }
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>
<!-- /#page-wrapper -->
{% endblock content %}
