{% extends "main/dashboard.html" %} {% load staticfiles i18n app_security%}{% load i18n crispy_forms_tags %} {% load l10n humanize %} {% block style %}
<link href="{% static 'clivet/compras.css' %}" rel="stylesheet"> {% endblock style %} {% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'clivet:clivet' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
    <li><a href="{% url 'compras:compra_list' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
    <li class="active">{{ title }}</li>
</ol>
{% endblock breadcrumbs %} {% block content_title %}
<i class="fa fa-shopping-cart"></i> {{ title }} {% endblock content_title %} {% block content %}
<script>
$(function() {
    $('.chosen-select').chosen();
});
</script>
<div class="row container-fluid panel panel-default">
    <form rule="" action="" method="post">{% csrf_token %}
        <div class="panel row panel-heading panel-titulo-detalle">
            <div class="col-md-1 ">
                <p class="titulo-busqueda"><span class="glyphicon glyphicon-user"></span>Proveedor</p>
            </div>
            <div class="col-md-4 proveedor-buscar">
                {{ form.proveedor}} {{ form.proveedor.errors}}
            </div>
            <div class="col-md-6 panel-titulo-detalle " id="proveedor-info">
            </div>
            <div class="col-md-1 addProveedor" id='addProveedor'>
                <a type="search" class="btn nuevo-cliente btn-lg ">Nuevo</a>
            </div>
        </div>
        <div class="row panel">
            <div class="col-md-8 ">
                <div class="panel-heading row panel-titulo-detalle">
                    <div class="alert col-md-7 col-md-push-7 alerta-ventas" id="success-alert">
                    </div>
                    <span class="glyphicon glyphicon-shopping-cart icon-producto titulo-busqueda label-add-producto col-md-1" aria-hidden="true"></span> {{ form.producto}}
                    <div class="col-md-2">
                        <button id="addProducto" class="btn btn-lg nuevo-cliente ">Nuevo</button>
                    </div>
                </div>
                <div class="panel-body ">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center th-carrito">Cantidad</th>
                                <th class="text-center th-carrito">Producto</th>
                                <th class="text-center th-carrito">Precio unitario</th>
                                <th class="text-center th-carrito">Precio total</th>
                                <th class="text-center th-carrito">Opciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody id="tabla_producto">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4 panel panel-body  container-resumen">
                <p class="text-center"><span class="glyphicon glyphicon-shopping-cart btn-lg" aria-hidden="true"></span>Resumen de Compra Realizada</p>
                <div class="row center-block">
                    <div class="col-md-4">
                        <p class="label-resumen-compras">Total</p>
                    </div>
                    <div class="col-md-8">
                        <p class="text-right label-resumen-compras">S/.<span id="r_total">00.00</span></p>
                    </div>
                </div>
                <div class="row center-block">
                    <div class="col-md-6">
                        {{ form.comprobante|as_crispy_field }}
                    </div>
                </div>
                <div class="center-block">
                    <button id="btn_pagar" type="submit" name='form' class="col-md-12 pagar-button btn-lg"> Comprar</button>
                </div>
            </div>
        </div>
        {{ form.data_compra}}
    </form>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Agregar Proveedor</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post" name="proveedor-form" id="proveedor-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div id="div_id_razon_social" class="form-group">
                                <label for="id_razon_social" class="control-label  requiredField">
                                    Razon social<span class="asteriskField">*</span> </label>
                                <div class="controls ">
                                    <input class="textinput textInput form-control" id="id_razon_social" maxlength="50" name="razon_social" placeholder="Ingrese el nombre de la empresa" type="text"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            {{form.tipo_doc|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            <div id="div_id_numdoc" class="form-group">
                                <label for="id_numdoc" class="control-label  requiredField">
                                    Número de documento<span class="asteriskField">*</span> </label>
                                <div class="controls ">
                                    <input class="numberinput form-control" id="id_numdoc" name="numdoc" placeholder="Ingrese un número" type="number" min="0" maxlength="11"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="div_id_representante_legal" class="form-group">
                                <label for="id_representante_legal" class="control-label  requiredField">
                                    Representante legal<span class="asteriskField">*</span> </label>
                                <div class="controls ">
                                    <input class="textinput textInput form-control" id="id_representante_legal" maxlength="50" name="representante_legal" placeholder="Ingrese el nombre completo" type="text"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div id="div_id_direccion" class="form-group">
                                <label for="id_direccion" class="control-label  requiredField">
                                    Direccion<span class="asteriskField">*</span> </label>
                                <div class="controls ">
                                    <input class="textinput textInput form-control" id="id_direccion" maxlength="30" name="direccion" placeholder="Ingrese un dirección" type="text"> </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="div_id_telefono" class="form-group">
                                <label for="id_telefono" class="control-label ">
                                    Telefono
                                </label>
                                <div class="controls ">
                                    <input class="numberinput form-control" id="id_telefono" name="telefono" placeholder="Ingrese un número" type="number" min="0"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="div_id_email" class="form-group">
                                <label for="id_email" class="control-label ">
                                    Email
                                </label>
                                <div class="controls ">
                                    <input class="emailinput form-control" id="id_email" maxlength="30" name="email" placeholder="Ingrese un correo" type="email"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div id="div_id_enti_bancaria" class="form-group">
                                <label for="id_enti_bancaria" class="control-label ">
                                    Entidad bancaria
                                </label>
                                <div class="controls ">
                                    <input class="textinput textInput form-control" id="id_enti_bancaria" maxlength="30" name="enti_bancaria" placeholder="Ingrese el nombre" type="text"> </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="div_id_num_cuenta" class="form-group">
                                <label for="id_num_cuenta" class="control-label ">
                                    Número de cuenta
                                </label>
                                <div class="controls ">
                                    <input class="numberinput form-control" id="id_num_cuenta" name="num_cuenta" min="0" placeholder="Ingrese un número" type="number"> </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="alert alert-danger hide" role="alert" id="success_message_proveedor"></div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="controls ">
                        <button type="submit" name="submit" class="btn btn-primary text-bold" id="save-proveedor" title="Grabar">
                            <i class="btn-icon-onlyx fa fa-save"></i> <span class="hidden-xsx"> Grabar</span>
                        </button>
                        <button type="button" name="cancel" class="btn btn btn-danger btn-back text-bold" id="button-id-cancel" title="Cancel">
                            <i class="btn-icon-onlyx fa fa-ban"></i> <span class="hidden-xs"> Cancelar</span>
                        </button>
                        <button type="reset" name="reset" class="btn btn btn-default text-bold" id="reset-id-reset" title="Reset">
                            <i class="btn-icon-onlyx fa fa-undo"></i> <span class="hidden-xs"> Limpiar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("#success-alert").hide();
$(document).ready(function() {
    var stocks = new Bloodhound({
        limit: 10,
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('nombre'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {
            ttl: 1,
            url: '/producto/search/',
        },
    });
    stocks.initialize();
    $('.typeahead ').typeahead(
        null, {
            minLength: 1,
            hint: true,
            highlight: true,
            templates: {
                notFound: '<div class="tt-suggestion tt-none">Producto o Servicio no encontrado en Inventario</div>',
            },
            displayKey: 'nombre',
            source: stocks,
        }).on('typeahead:selected', function(event, data) {
        $('.typeahead').val(data.id);

        Compra.temp = data.id;
    });
});
$('#btn_pagar').attr('disabled', true);
(function() {
    function decimalAdjust(type, value, exp) {
        if (typeof exp === 'undefined' || +exp === 0) {
            return Math[type](value);
        }
        value = +value;
        exp = +exp;
        // Si el valor no es un número o el exp no es un entero...
        if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
            return NaN;
        }
        // Shift
        value = value.toString().split('e');
        value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));
        // Shift back
        value = value.toString().split('e');
        return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
    }
    // Decimal round
    if (!Math.round10) {
        Math.round10 = function(value, exp) {
            return decimalAdjust('round', value, exp);
        };
    }
    // Decimal floor
    if (!Math.floor10) {
        Math.floor10 = function(value, exp) {
            return decimalAdjust('floor', value, exp);
        };
    }
    // Decimal ceil
    if (!Math.ceil10) {
        Math.ceil10 = function(value, exp) {
            return decimalAdjust('ceil', value, exp);
        };
    }
})();
var Compra = {
    productos: [],
    total: 0.00,
    cantidad_total: 0,
    temp: -1,
};
var i;
$(document).ready(function() {
    $(".typeahead").keypress(function(event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {

            not_exist();
            if (not_exist(Compra.temp)) {
                $.ajax({
                        url: "{% url 'ventas:carro' %}",
                        type: 'get',
                        data: {
                            p: Compra.temp
                        },
                    })
                    .done(function(data) {
                        data[0].fields.cantidad = 1;
                        data[0].fields.importe = data[0].fields.precioC * data[0].fields.cantidad;
                        data[0].fields.id = data[0].pk;
                        Compra.productos.push(data[0].fields);
                        Compra.total = Compra.total + data[0].fields.importe;
                        Compra.cantidad_total = Compra.cantidad_total + parseInt(data[0].fields.cantidad);
                        draw();

                        $('#id' + i).focus();
                        $('.typeahead').val('');
                    })
                    .fail(function() {
                        console.log("error");
                        $('.typeahead').focus();
                        $('.typeahead ').val('');
                    })
                    .always(function() {
                        console.log("complete");
                    });
            }
            return false;
        }

        function not_exist(dd) {
            for (i in Compra.productos) {
                if (Compra.productos[i].id == dd) {
                    return false;
                    //mensaje error
                }
            }
            return true;
        }

    });


});


function draw() {
    $("#r_total").text(Compra.total);
    var h = "";
    for (i in Compra.productos) {
        h = h + "<tr>" +
            "<td contenteditable='true' class='text-center' id='id" + i + "' onblur='change_p(" + i + ")'>" + Compra.productos[i].cantidad +
            "</td><td class='text-center'>" + Compra.productos[i].nombre +
            "</td><td class='text-center'>" + Compra.productos[i].precioC +
            "</td><td class='text-center'>" + Compra.productos[i].importe +
            "</td><td class='text-center'><button type='button' onclick='delete_p(" + i + ")'class='btn btn-danger btn-md'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></td></tr>";

    }
    $("#tabla_producto").html(h);

    $("#id_data_compra").val(JSON.stringify(Compra));
    console.log(Compra);

}

function delete_p(d) {
    var deleted_product = Compra.productos.splice(d, 1);
    Compra.total =Math.ceil10( Compra.total - deleted_product[0].importe,-2);
    draw();
    $('.typeahead').val('');
    if ($("#id0").val() === '') {
        $('#btn_pagar').attr('disabled', false);
    } else {

        $('#btn_pagar').attr('disabled', true);
    }
}

$('#addProducto,#addProveedor').click(function(event) {
    event.preventDefault();
    $('#add-new-cliente').modal({
        backdrop: 'static',
        keyboard: false
    });
});
function change_p(d) {
    Compra.productos[d].cantidad = $("#id" + d).text();
    if (Compra.productos[d].cantidad < 0) {
        Compra.productos[d].cantidad = Math.ceil10(Compra.productos[d].cantidad * (-1),-2);
        Compra.productos[d].importe = Math.ceil10(Compra.productos[d].cantidad * Compra.productos[d].precioC,-2);
        Compra.total = 0.00;
        for (i in Compra.productos) {
            Compra.total = Math.ceil10(Compra.total + Compra.productos[i].importe,-2);
        }
        draw();
        $('.typeahead').val('');
        $('.typeahead').focus();

    } else if (Compra.productos[d].cantidad === 0) {
        Compra.productos[d].cantidad = '';
        Compra.productos[d].importe = Compra.productos[d].cantidad * Compra.productos[d].precioC;
        Compra.total = 0.00;
        for (i in Compra.productos) {
            Compra.total = Compra.total + Compra.productos[i].importe;
        }
        draw();
        $('.typeahead').val('');
        console.log('positive');
    } else if (Compra.productos[d].cantidad > 0) {
        Compra.productos[d].cantidad = Compra.productos[d].cantidad;
        Compra.productos[d].importe = Compra.productos[d].cantidad * Compra.productos[d].precioC;
        Compra.total = 0.00;
        for (i in Compra.productos) {
            Compra.total = Compra.total + Compra.productos[i].importe;
        }
        draw();
        $('.typeahead').val('');
        $('.typeahead').focus();
    } else {
        sms = '';
        sms = sms + "<strong>Cantidad  " + Compra.productos[d].nombre + " Incorrecta</strong>";
        $('.alerta-ventas').html(sms);
        $("#success-alert").show();
        $("#success-alert").delay(3000).slideUp(300, function() {
            $("#success-alert").hide();
        });
        Compra.productos[d].cantidad = '';
        Compra.productos[d].importe = Compra.productos[d].cantidad * Compra.productos[d].precioC;
        Compra.total = 0.00;
        for (i in Compra.productos) {
            Compra.total = Compra.total + Compra.productos[i].importe;
        }
        draw();
        $('#id' + i).val('');
        $('#id' + i).focus();

    }
    if ($("#id0").val() === '') {
        $('#btn_pagar').attr('disabled', false);
    } else {

        $('#btn_pagar').attr('disabled', true);
    }


}
$('#addProveedor').click(function() {
    $('#myModal').modal('show');
});
$('#id_proveedor').change(function() {
    getProveedor();
});
getProveedor();

function getProveedor() {
    $.ajax({
        url: "{% url 'compras:get_proveedor_ajax' %}",
        type: 'get',
        data: {
            pk: $('#id_proveedor').val()
        },
    })

    .done(function(data) {
            console.log(data);
            $('#proveedor-info').html('<div class="col-md-4  contenedor-proveedor"><p class="label-proveedor">Razón Social:<span class="span-proveedor">' + data.razon_social + '</pan></p></div ><div class="col-md-4 contenedor-proveedor"><p class="label-proveedor">N° de ' + data.tipodoc + ':<span class="span-proveedor">' + data.numdoc + '</span></div><div class="col-md-4 contenedor-proveedor"><p class="label-proveedor">Representante legal:<span class="span-proveedor">' + data.representante_legal + '</span></p></div>');
        })
        .fail(function() {
            console.log("error");
        })
        .always(function() {
            console.log("complete");
        });
}
$('#save-proveedor').click(function() {
    var formArray = $("#proveedor-form").serializeArray();
    var formJson = JSON.stringify(formArray);
    console.log(formArray);
    if (formArray[1].value.trim().length > 0 &&
        formArray[3].value.trim().length > 0 &&
        formArray[4].value.trim().length > 0 &&
        formArray[5].value.trim().length > 0) {
        $.ajax({
                url: '{% url "compras:post_proveedor_ajax" %}',
                type: 'POST',
                dataType: 'json',
                data: {
                    rs: formArray[1].value,
                    td: formArray[2].value,
                    nd: formArray[3].value,
                    rl: formArray[4].value,
                    d: formArray[5].value,
                    t: formArray[6].value,
                    e: formArray[7].value,
                    c: formArray[8].value,
                    nc: formArray[9].value,
                },
            })
            .done(function(d) {
                var select = $("#id_proveedor");
                select.append('<option value="' + d.pk + '">' + d.name + '</option>');
                select.val(d.pk);
                select.trigger("chosen:updated");
                $('#myModal').modal('hide');
                getProveedor();
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
    } else {
        $('#success_message_proveedor').attr('class', 'alert alert-danger').text("Revise los datos ingresados nuevamente.");
    }
});
</script>
<!-- /#page-wrapper -->
{% endblock content %}
