{% extends "main/dashboard.html" %}
<!--
@package     conf

Descripcion: Lista Tipo Documento
-->
{% load i18n app_security %}
{% load l10n humanize %}

{% block breadcrumbs %}
<a href="{# url 'accounts:index' #}">{% trans 'Home' %}</a>
&rsaquo; {{ title }}
{% endblock breadcrumbs %}

{% block content_title %}
{{ opts.verbose_name_plural|capfirst }} | <small>{{ title }}</small>
{% endblock content_title %}

{% block content %}
    <h1>Compras</h1>
<script type="text/javascript">
$(function() {
    $('table').kgrid({
        form_data : ['{{f}}', '{{q}}'],
        form_to   : '{% url 'compras:compra_list' %}?f={{f}}&q={{q}}',
        order_attr: 'class=""',
        order_to  : '{% url 'compras:compra_list' %}?f={{f}}&q={{q}}',
    });
});
</script>

<div class="btn-toolbar btn-toolbar-top">
    <div class="row">
        <div class="btn-actions">
            <a href="{% url 'compras:compra_add' %}"
               class="btn btn-primary text-bold"
               title="Agregar Compra">
                <i class="fa fa-plus"></i>
                <span class="hidden-xs"> Agregar</span>
            </a>
        </div>            
    </div>
</div>
<div class="container-overflow">

    <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th class="col-hidden" data-search="tipodoc" data-order="fe_compra">Fecha de compra</th>
                <th class="col-hidden" data-search="numdoc" data-order="comprobante">Comprobante</th>
                <th class="col-hidden" data-search="razon_social" data-order="total">Total</th>
                <th class="col-hidden" data-search="proveedor" data-order="proveedor">Proveedor</th>
                <th class="col-hidden" data-search="trabajador" data-order="trabajador">Trabajador</th>
                <th class="btn-actions col-blocked text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for d in object_list %}       
            <tr>
                <td>{% if is_paginated %}
                    {{ page_obj.start_index|add:forloop.counter0 }}
                    {% else %}
                    {{ forloop.counter }}
                    {% endif %}
                </td>

                <td>{{ d.fe_compra }}</td>
                <td>{{ d.comprobante }}</td>
                <td>{{ d.total}}</td>
                <td>{{ d.proveedor}}</td>
                <td>{{ d.ptrabajador}}</td>
                
                <td class="text-center">

                    <a href="{% url 'compras:compra_upd' d.pk|key:'doc_upd' %}"
                       class="btn btn-info btn-sm text-bold"
                       title="Cambiar Compra"
                       rel="tooltip">
                        <i class="btn-icon-only fa fa-edit"></i>
                    </a>

                    <a href="{% url 'compras:compra_del' d.pk|key:'doc_del' %}"
                       class="btn btn-danger btn-sm js-confirm text-bold"
                       msg-title="Eliminar Compra?."
                       msg="Esta Seguro
                       <br/>Recuerde esta operación no puede revertirse"
                       title="Eliminar Compra" rel="tooltip">
                        <i class="btn-icon-only fa fa-trash-o"></i>
                    </a>

                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
<div  class="row" >
    {% if is_paginated %}
    {% load paginator %}
    {% paginator %}
    {% else %}
    <div class="col-md-12" >
        <ul class="breadcrumbpag" >
            {{ object_list.count }} {% ifequal object_list.count 1 %}{{ opts.verbose_name|capfirst }}{% else %}{{ opts.verbose_name_plural|capfirst }}{% endifequal %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock content %}