{% extends "main/dashboard.html" %}
{% load i18n app_security %}
{% load l10n humanize %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'clivet:clivet' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
  <li class="active">{{ opts.verbose_name_plural|capfirst }}</li>
</ol>
{% endblock breadcrumbs %}


{% block content_title %}
<i class="fa fa-shopping-cart"></i> Lista de {{opts.verbose_name_plural}}
{% endblock content_title %}
{% block content %}
<script type="text/javascript">
$(function() {
    $('table').kgrid({
        form_data : ['{{f}}', '{{q}}'],
        form_to   : '{% url 'compras:compra_list' %}?f={{f}}&q={{q}}',
        order_attr: 'class=""',
        order_to  : '{% url 'compras:compra_list' %}?f={{f}}&q={{q}}',
    });
});
</script>

<div class="container"> 
<div class="btn-toolbar btn-toolbar-top">
    <div class="row">
        <div class="btn-actions">
            <a href="{% url 'compras:compra_add' %}"
               class="btn btn-primary text-bold"
               title="Agregar Compra">
                <i class="fa fa-plus"></i>
                <span class="hidden-xs"> Agregar</span>
            </a>
        </div>            
    </div>
</div>
<div class="container-overflow">

    <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th class= "panel-body" data-search="proveedor" data-order="proveedor">Proveedor</th>
                <th class="col-hidden" data-search="fe_compra" data-order="fe_compra">Fecha de compra</th>
                <th class="col-hidden" data-search="trabajador" data-order="trabajador">Trabajador</th>
                <th class="col-hidden" data-search="comprobante" data-order="comprobante">Comprobante</th>
                <th class="panel panel-default" data-search="total" data-order="total">Total</th>
                <th class="btn-actions col-blocked text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for d in object_list %}       
            <tr>
                <td>{% if is_paginated %}
                    {{ page_obj.start_index|add:forloop.counter0 }}
                    {% else %}
                    {{ forloop.counter }}
                    {% endif %}
                </td>

                <td> {{ d.proveedor.razon_social}} ({{ d.proveedor.representante_legal}})</td>
                <td>{{ d.fe_compra }}</td>
                <td>{{ d.usuario}}</td>
                <td>{{ d.comprobante }}</td>
                <td>{{ d.total}}</td>
                
                <td class="text-center">
                    <a href="/compras/detalle-compra/listar/{{d.pk}}/">Ver detalle</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
<div  class="row" >
    {% if is_paginated %}
    {% load paginator %}
    {% paginator %}
    {% else %}
    <div class="col-md-12" >
        <ul class="breadcrumbpag" >
            {{ object_list.count }} {% ifequal object_list.count 1 %}{{ opts.verbose_name|capfirst }}{% else %}{{ opts.verbose_name_plural|capfirst }}{% endifequal %}
        </ul>
    </div>
    {% endif %}
</div>
</div>
{% endblock content %}