<div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="acces-direct center" style="position:relative">
              <a href="#" style="float:left !important; width:auto;"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a>
              <a href="#" style="float:left !important; width:auto;"><i class="fa fa-users fa-2x" aria-hidden="true"></i></a>
              <a href="#" style="float:left !important; width:auto;"><i class="fa fa-stethoscope fa-2x" aria-hidden="true"></i></a>
              <a href="#" style="float:left !important; width:auto;"><i class="fa fa-briefcase fa-2x" aria-hidden="true"></i></a></li>
            <li class="active">
                <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Escritorio</a>
            </li>
            <li>
                <a href="{% url 'ventas:departamento_list' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Recepción</a>
            </li>
            <li>
                <a href="tables.html"><i class="fa fa-fw fa-table"></i> Medica</a>
            </li>
            <li>
                <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Clientes</a>
            </li>
            <li>
                <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Mascotas</a>
            </li>
            <li>
                <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Compras</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Servicios <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Servicio Item</a>
                    </li>
                    <li>
                        <a href="#">Servicio Item</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Proveedores</a>
            </li>
            <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> Reportes</a>
            </li>
            <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> Configuración</a>
            </li>
        </ul>
    </div>