{% extends "main/dashboard.html" %}
{% load i18n app_security %}
{% load l10n humanize %}

{% block breadcrumbs %}
<a href="{# url 'accounts:index' #}">{% trans 'Home' %}</a>
&rsaquo; {{ title }}
{% endblock breadcrumbs %}

{% block content_title %}
{{ opts.verbose_name_plural|capfirst }} | <small>{{ title }}</small>
{% endblock content_title %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
                <li class="active"><a href="#perfil" data-toggle="tab">Perfil</a></li>
                <li><a href="#editar" data-toggle="tab">Editar</a></li>
                <li><a href="#hcompras" data-toggle="tab">Historial de Compras</a></li>
                <li><a href="#hclinica" data-toggle="tab">Historia Clinica</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="perfil">
                {% include "clinica/perfil_mascota.html" %}
            </div>
            <div class="tab-pane fade" id="editar">
                {% include "clinica/editar_mascota.html" %}
            </div>
            <div class="tab-pane fade" id="hcompras">
                {% include "clinica/hcompras.html" %}
            </div>
            <div class="tab-pane fade" id="hclinica">
                {% include "clinica/aclinica.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
