<footer>
  <div class="ed-container">
    <div class="ed-item">
      <div class="logo-footer"><img src="../../../../static/clivet/img/logo.png" alt=""></div>
    </div>
    <div class="ed-item m-35">
      <h2 class="about">Quienes Somos?</h2>
      <p class="footer-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
      <div class="redes-footer">
        <div class="icon icons_facebook"></div>
        <div class="icon icons_twitter"></div>
        <div class="icon icons_plus"></div>
        <div class="icon icons_instagram"></div>
      </div>
    </div>
    <div class="ed-item m-35">
      <h2 class="contact-footer-title">Contactanos</h2>
      <div class="contact-footer">
        <p>Jr. Junin , Juliaca</p>
        <p><span>Telefono:</span> 996020244</p>
        <p><span>Email:</span> clivet@gmail.com</p>
      </div>
    </div>
    <div class="ed-item m-30">
      <h2>Flick Widget</h2>
    </div>
  </div>
  <div class="footer">
    <div class="ed-container">
      <div class="ed-item">
        <p>Copyright (c) 2016 Copyright Holder All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
