{% load i18n %}
<!-- Fixed navbar -->
<header>
    <div class="ed-container s-logo">
      <div class="ed-item s-80">
        <div class="logo"><a href="#"><img src="../../../../static/clivet/img/logo.png" alt="Logo"></a></div>
      </div>
      <div class="ed-item s-20 cross-center main-end">
        <div class="icons-menu">
          <div class="nav-toggle" id="main-nav-toggle"></div>
        </div>
      </div>
    </div>
    <div class="nav-container" id="nav-container">
      <div class="ed-container">
        <div class="ed-item l-20 lg-logo">
          <div class="logo"><a href="#"><img src="../../../../static/clivet/img/logo.png" alt="Logo"></a></div>
        </div>
        <div class="ed-item l-80">
          <nav class="main-nav" id="main-nav">
            <ul class="main-menu" id="main-menu">
              <li class="main-menu__item"><a {% ifequal request.path '/home/' %} class="active main-menu__link" {% endifequal %} class="active main-menu__link" href="/home/">{% trans 'Home' %}</a></li>
              <li class="main-menu__item"><a {% ifequal request.path '/features/' %} class="active main-menu__link" {% endifequal %} class="main-menu__link" href="/home/">{% trans 'Features' %}</a></li>
              <li class="main-menu__item"><a {% ifequal request.path '/gallery/' %} class="active main-menu__link" {% endifequal %} class="main-menu__link"  href="/home/">{% trans 'Gallery' %}</a></li>
              <li class="main-menu__item"><a {% ifequal request.path '/blog/' %} class="active main-menu__link" {% endifequal %} class="main-menu__link" href="/home/">{% trans 'Blog' %}</a></li>
              <li class="main-menu__item"><a {% ifequal request.path '/shop/' %} class="active main-menu__link" {% endifequal %} class="main-menu__link" href="/home/">{% trans 'Shop' %}</a></li>
                <form  class="navbar-form navbar-right form-controlx" action="/i18n/setlang/" method="post">{% csrf_token %}
                  <input name="next" type="hidden" value="{{ redirect_to }}" />
                  <select  class="form-control" name="language" onchange="this.form.submit();">
                    {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>{% trans lang.1 %} ({{ lang.0 }})</option>
                    {% endfor %}
                  </select>
                </form>
                  {% if not userx.is_authenticated %}
                  <li class="main-menu__item" {% ifequal request.path '/accounts/register/' %} class="active" {% endifequal %}><a class="main-menu__link" href="/accounts/register/">{% trans 'Sign up' %}</a></li>
                  <li class="main-menu__item" {% ifequal request.path '/accounts/login/' %} class="active" {% endifequal %}><a class="main-menu__link" href="/accounts/login/">{% trans 'Log in' %}</a></li>
                  {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
